{{#extend "iframe"}}
  {{#content "body"}}
    <div id="HeadmanComponent" class="HeadmanComponentView">
      {{{html}}}
    </div>
    <script>
      window.validations = {
        html: {{htmlValidation}},
        accessibility: {{accessibilityValidation}},
      }
    </script>
  {{/content}}
{{/extend}}
