{{#extend "iframe"}}
  {{#content "body"}}
    <div class="HeadmanComponents">
      {{#if components}}
        {{#each components}}
          <div class="HeadmanComponent">
            <a href="/component?file={{this.file}}&embedded=true" class="HeadmanComponent-file">{{this.file}}</a>
            <div class="HeadmanComponent-html">
              {{{this.html}}}
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class="HeadmanComponent">
          There are no components yet.
        </div>
      {{/if}}
    </div>
  {{/content}}
{{/extend}}
