{{#extend "iframe"}}
  {{#content "body"}}
    <div class="FreitagComponents">
      {{#each variations}}
        <div class="FreitagComponent">
          <a href="/component?file={{this.file}}&variation={{this.variation}}&embedded=true" class="FreitagComponent-file">{{this.variation}}</a>
          <div class="FreitagComponent-html">
            {{{this.html}}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/content}}
{{/extend}}
