{{#extend "iframe"}}
  {{#content "body"}}
    <div class="HeadmanComponents">
      {{#each variations}}
        <div class="HeadmanComponent">
          <a href="{{this.url}}" class="HeadmanComponent-file">{{this.variation}}</a>
          <div class="HeadmanComponent-html">
            {{{this.html}}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/content}}
{{/extend}}
