.Menu {
  font-size: 1.4rem;
  margin: var(--Miyagi-spacing-y) 0 0;
  margin-inline-start: 1.5rem;
}

[aria-expanded="true"] ~ .Menu-listContainer {
  display: block;
}

[aria-expanded="false"] ~ .Menu-listContainer {
  display: none;
}

.Menu-listItem {
  position: relative;
}

.Menu-listItem--directory.Menu-listItem--lvl0 {
  padding-bottom: 1em;
}

.Menu-list--variations,
.Menu-list--components:not(.Menu-list--lvl0) {
  padding-top: var(--spacingTop);
}

.Menu-list--variations + .Menu-list--components {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.Menu-link,
.Menu-component {
  display: block;
  padding: 0 var(--Miyagi-linkSpacing);
}

.Menu-component:not(.Menu-link) {
  color: var(--Miyagi-color-Link);
  cursor: default;
}

.Menu-component:not(.Menu-link):last-child {
  opacity: 0.6;
}

.Menu-link {
  color: var(--Miyagi-color-Link);
  text-decoration: none;
}

.Menu-link:hover,
.Menu-link:focus {
  text-decoration: underline;
}

.Menu-link--showAll {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
}

.Menu-link:not(.has-logo)[aria-current] {
  background: var(--Miyagi-color-Link-active-background, --Miyagi-color-Link);
  border-radius: var(--Miyagi-borderRadius);
  color: var(--Miyagi-color-Link-active);
  display: inline-block;
}

.Menu-component.Menu-link {
  font-weight: 600;
}

.Menu-toggle {
  display: block;
  font-size: 1.5em;
  height: 1em;
  position: absolute;
  inset-inline-end: calc(100% - var(--inline-end));
  text-indent: -9999em;
  top: 0;
  width: 1em;
}

.Menu-toggle::after {
  border: var(--Miyagi-toggle-border);
  border-top-width: var(--Miyagi-toggle-borderWidth);
  border-inline-end-width: var(--Miyagi-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Miyagi-toggle-fontSize);
  height: var(--Miyagi-toggle-height);
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  transition: var(--Miyagi-toggle-transition);
  width: var(--Miyagi-toggle-width);
}

.Menu-toggle[aria-expanded="false"]::after {
  transform: var(--Miyagi-toggle-transition-closed);
}

.Menu-toggle[aria-expanded="true"]::after {
  transform: var(--Miyagi-toggle-transition-opened);
}

@media (max-width: 40em) {
  .Menu {
    order: 1;
    flex: 0 0 100%;
    padding-inline: var(--Miyagi-spacing-x);
  }
}

@media (min-width: 40.03125em) {
  .Menu {
    flex: 1;
  }
}

@media (pointer: coarse) {
  .Menu-list {
    --spacingTop: 1.25rem;
  }

  .Menu-listContainer {
    margin-inline-start: 2rem;
  }

  .Menu-listItem:not(.Menu-listItem--lvl0):not(:last-child) {
    padding-bottom: 1rem;
  }

  .Menu-toggle {
    --inline-end: -0.75rem;
  }

  .Menu-toggle--lvl0 {
    --inline-end: 0.25em !important;
  }

  .Menu-component--lvl0 {
    margin-inline-start: 1rem;
  }
}

@media (pointer: fine) {
  .Menu-list {
    --spacingTop: 0.5rem;
  }

  .Menu-listContainer {
    margin-inline-start: 1.5rem;
  }

  .Menu-listItem:not(.Menu-listItem--lvl0):not(:last-child) {
    padding-bottom: 0.5rem;
  }

  .Menu-toggle {
    --inline-end: 0rem; /* stylelint-disable-line */
  }
}
