.Menu {
  font-size: 1.4rem;
  margin: var(--Miyagi-spacing-x) 0 0;
}

.Menu-search {
  background: var(--Miyagi-color-Background);
  padding: var(--Miyagi-spacing-x) 0;
  margin-inline-start: calc(-1 * 1.5rem);
  width: calc(100% + 1.5rem);
}

.Menu-searchLabel,
.Menu-searchClear {
  --size: 1.25em;

  position: absolute;
  inset-inline-end: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: var(--size);
  height: var(--size);
}

.Menu-searchIcon {
  color: var(--Miyagi-color-Text);
  display: block;
  width: 100%;
  height: 100%;
}

.Menu-searchIcon path {
  fill: currentColor;
}

.Menu-searchIcon circle {
  fill: none;
  stroke: currentColor;
}

.Menu-searchInput {
  border: 1px solid var(--Miyagi-color-Search-border);
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2) inset;
  color: var(--Miyagi-color-Search-text);
  background: var(--Miyagi-color-Search-background);
  padding: 0.35em 0.5em;
  padding-inline-end: 2.5em;
  width: 100%;
}

.Menu-searchClear {
  border-radius: 50%;
}

.Menu-searchInput:focus,
.Menu-searchClear:focus-visible {
  outline: 3px solid currentColor;
}

.Menu-searchClear:focus-visible {
  outline-offset: -1px;
}

[aria-expanded="true"] ~ .Menu-listContainer {
  display: block;
}

[aria-expanded="false"] ~ .Menu-listContainer {
  display: none;
}

.Menu-listItem {
  position: relative;
}

.Menu-listItem--directory.Menu-listItem--lvl0 {
  padding-bottom: 1em;
}

.Menu-list--variations,
.Menu-list--components:not(.Menu-list--lvl0) {
  padding-top: var(--spacingTop);
}

.Menu-list--variations + .Menu-list--components {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.Menu-link,
.Menu-component {
  border-radius: var(--Miyagi-borderRadius);
  display: block;
  padding: 0 var(--Miyagi-linkSpacing);
}

.Menu-listItem.has-no-match .Menu-component,
.Menu-listItem.is-no-match .Menu-toggle,
.Menu-listItem.is-no-match .Menu-link:not(.Menu-component) {
  opacity: 0.3;
}

.Menu-listItem--directory.has-match > .Menu-toggle,
.Menu-listItem--directory.is-match * {
  opacity: 1 !important;
}

.Menu-component:not(.Menu-link) {
  color: var(--Miyagi-color-Link);
  cursor: default;
}

.Menu-component:not(.Menu-link):last-child {
  opacity: 0.6;
}

.Menu-link {
  color: var(--Miyagi-color-Link);
  text-decoration: none;
}

.Menu-link:hover,
.Menu-link:focus {
  text-decoration: underline;
}

.Menu-link--showAll {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
}

.Menu-link:not(.has-logo)[aria-current] {
  background: var(--Miyagi-color-Link-active-background, --Miyagi-color-Link);
  border-radius: var(--Miyagi-borderRadius);
  color: var(--Miyagi-color-Link-active);
  display: inline-block;
}

.Menu-component.Menu-link {
  font-weight: 600;
}

.Menu-toggle {
  border-radius: var(--Miyagi-borderRadius);
  display: block;
  font-size: 1.5em;
  height: 1em;
  position: absolute;
  inset-inline-end: calc(100% - var(--inline-end));
  text-indent: -9999em;
  top: 0;
  width: 1em;
}

.Menu-link:focus-visible,
.Menu-component:focus-visible,
.Menu-toggle:focus-visible {
  outline: 3px solid currentColor;
}

.Menu-toggle:focus-visible {
  outline-offset: -2px;
}

.Menu-link:focus-visible,
.Menu-component:focus-visible {
  outline-color: var(
    --Miyagi-color-Link-active-background,
    --Miyagi-color-Link
  );
  outline-offset: 2px;
}

.Menu-toggle::after {
  border: var(--Miyagi-toggle-border);
  border-top-width: var(--Miyagi-toggle-borderWidth);
  border-inline-end-width: var(--Miyagi-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Miyagi-toggle-fontSize);
  height: var(--Miyagi-toggle-height);
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  transition: var(--Miyagi-toggle-transition);
  width: var(--Miyagi-toggle-width);
}

.Menu-toggle[aria-expanded="false"]::after {
  transform: var(--Miyagi-toggle-transition-closed);
}

.Menu-toggle[aria-expanded="true"]::after {
  transform: var(--Miyagi-toggle-transition-opened);
}

@media (max-width: 40em) {
  .Menu {
    margin-inline-start: 1rem;
    padding-inline: var(--Miyagi-spacing-x);
  }

  .Menu-search {
    position: relative;
  }
}

@media (min-width: 40.03125em) {
  .Menu {
    flex: 1;
    margin-inline-start: 1.5rem;
  }

  .Menu-search {
    position: sticky;
    top: calc(-1 * var(--Miyagi-spacing-y));
    z-index: 1;
  }
}

@media (pointer: coarse) {
  .Menu-list {
    --spacingTop: 1.25rem;
  }

  .Menu-listContainer {
    margin-inline-start: 2rem;
  }

  .Menu-listItem:not(.Menu-listItem--lvl0):not(:last-child) {
    padding-bottom: 1rem;
  }

  .Menu-toggle {
    --inline-end: -0.75rem;
  }

  .Menu-toggle--lvl0 {
    --inline-end: 0.25em !important;
  }

  .Menu-component--lvl0 {
    margin-inline-start: 1rem;
  }
}

@media (pointer: fine) {
  .Menu-list {
    --spacingTop: 0.5rem;
  }

  .Menu-listContainer {
    margin-inline-start: 1.5rem;
  }

  .Menu-listItem:not(.Menu-listItem--lvl0):not(:last-child) {
    padding-bottom: 0.5rem;
  }

  .Menu-toggle {
    --inline-end: 0rem; /* stylelint-disable-line */
  }
}
