html {
	--Miyagi-color-Background-internal: light-dark(
		hsl(0deg 0% 100%),
		hsl(0deg 0% 12%)
	);

	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.MiyagiTheme--light {
	color-scheme: light;
}

.MiyagiTheme--dark {
	color-scheme: dark;
}

body {
	background: var(--Miyagi-color-Background);
}
