@import url("./tokens.css");
@import url("./main/tokens.css");
@import url("./main/reset.css");
@import url("./main/menu.css");
@import url("./main/test.css");
@import url("./main/results.css");
@import url("./main/result.css");

html {
	height: 100%;
}

body {
	background: var(--Miyagi-color-Background);
	color: var(--Miyagi-color-Text);
	display: grid;
	font-family: var(--Miyagi-fontFamily);
	font-size: var(--Miyagi-fontSize);
	line-height: var(--Miyagi-lineHeight);
	min-height: 100%;
}

.Content {
	grid-area: iframe;
}

.FrameWrapper {
	height: 100%;
	width: 100%;
}

.Frame {
	display: block;
	height: 100%;
	width: 100%;
}

@media (max-width: 40rem) {
	html {
		--Miyagi-spacing-x: 1rem;
		--Miyagi-spacing-y: 1rem;
	}

	body {
		grid-template:
			"nav"
			"iframe" 1fr;
	}
}

@media (min-width: 40.03125rem) {
	html {
		--Miyagi-spacing-x: 2rem;
		--Miyagi-spacing-y: 4rem;
	}
}

@media (min-width: 40.03125rem) {
	body {
		grid-template-areas: "nav iframe";
		grid-template-columns: 16rem 1fr;
	}
}

.u-hiddenVisually {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
