.Homepage {
  margin: 0 auto;
  max-width: 120rem;
  padding: var(--MiyagiDemo-spacing);
}

.Homepage-main {
  display: grid;
  grid-gap: var(--MiyagiDemo-spacing);
  grid-template: "content sub" 1fr / 1fr 32rem;
  margin: var(--MiyagiDemo-spacing) 0 0;
}

.Homepage-content {
  grid-area: "content";
}

.Homepage-cta {
  margin: var(--MiyagiDemo-spacing) 0 0;
}

.Homepage-subContent {
  grid-area: "sub";
}

.Homepage-footer {
  margin-top: var(--MiyagiDemo-spacing);
}

@media (max-width: 64em) {
  :root {
    --MiyagiDemo-spacing: var(--spacing-4);
  }
}

@media (min-width: 64.03125em) {
  :root {
    --MiyagiDemo-spacing: var(--spacing-8);
  }
}

@media (max-width: 52em) {
  .Homepage-main {
    grid-template:
      "content"
      "sub";
  }
}
