.Link {
  display: inline-block;
}

.Link-label {
  --box-shadow-position: 0.5rem 0.5rem;

  background: var(--color-LightGrey);
  box-shadow: var(--box-shadow-position) 0 var(--color-Secondary);
  color: #000;
  display: inline-block;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  position: relative;
  text-decoration: none;
}

.Link:hover .Link-label,
.Link:focus .Link-label {
  background-color: var(--color-Hover);
  transform: translate(-0.2rem, -0.2rem);
}

.Link:active .Link-label {
  --box-shadow-position: 0.3rem 0.3rem;
  transform: none;
}
