{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["eslint:recommended", "prettier", "plugin:jsdoc/recommended"],
  "plugins": ["prettier", "jsdoc"],
  "rules": {}
}
