{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
  },
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "prefer-destructuring": ["error", {
      "object": true,
      "array": true
    }]
  }
}
