<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>Component</title>
    {{{jsFiles}}}
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="iframe.js" type="module"></script>
    {{{cssFiles}}}
    <link rel="stylesheet" href="iframe.css">
  </head>
  <body class="ComponentLibraryIframe">
    {{#block "body"}}{{/block}}
  </body>
</html>
