<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>Pattern</title>
    {{{cssFiles}}}
    <link rel="stylesheet" href="iframe.css">
    {{{jsFiles}}}
    <script src="axs_testing.js" defer></script>
    <script src="iframe.js" defer></script>
  </head>
  <body>
    {{#block "body"}}{{/block}}
  </body>
</html>
