<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>Pattern</title>
    {{{jsFiles}}}
    <script src="componentTests.js" type="module"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="socket.js" defer></script>
    {{{cssFiles}}}
    <link rel="stylesheet" href="iframe.css">
  </head>
  <body>
    {{#block "body"}}{{/block}}
  </body>
</html>
