<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>roundup</title>
    <script src="js/main.js" defer></script>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body class="Roundup">
    {{#block "body"}}{{/block}}
  </body>
</html>
