<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>Styleguide</title>
    <script defer src="app.js"></script>
    <link rel="stylesheet" href="styleguide.css">
  </head>
  <body class="Page">
    {{#block "body"}}{{/block}}
  </body>
</html>
