{{#extend "iframe"}}
  {{#content "body"}}
    <div class="ComponentLibraryComponents">
      {{#each variationsArr}}
        <div class="ComponentLibraryComponent">
          <a href="?component={{this.file}}&variation={{this.variation}}" class="ComponentLibraryComponent-file">{{this.variation}}</a>
          <div class="ComponentLibraryComponent-html">
            {{{this.html}}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/content}}
{{/extend}}
