{{#extend "iframe"}}
  {{#content "body"}}
    <div class="RoundupComponents">
      {{#if components}}
        {{#each components}}
          <div class="RoundupComponent">
            <a href="?component={{this.file}}" class="RoundupComponent-file">{{this.file}}</a>
            <div class="RoundupComponent-html">
              {{{this.html}}}
            </div>
          </div>
        {{/each}}
      {{else}}
        There are no components yet.
      {{/if}}
    </div>
  {{/content}}
{{/extend}}
