{{#extend "iframe"}}
  {{#content "body"}}
    <div class="RoundupComponents">
      {{#each variations}}
        <div class="RoundupComponent">
          <a href="?component={{this.file}}&variation={{this.variation}}" class="RoundupComponent-file">{{this.variation}}</a>
          <div class="RoundupComponent-html">
            {{{this.html}}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/content}}
{{/extend}}
