{{#extend "main"}}
  {{#content "body"}}
    <nav class="Nav">
      {{#if folders.children}}
        <a class="Nav-showAll" href="?pattern=all" target="content"{{#if showAll }} aria-current="page"{{/if}}>Pattern overview</a>
        <div class="Nav-menu">
          {{#renderMenu folders.children currentPattern currentVariation }}{{/renderMenu}}
        </div>
      {{/if}}
    </nav>

    <main class="Content">
      <iframe id="iframe" src="{{iframeSrc}}" frameborder="0" name="content"></iframe>
    </main>
  {{/content}}
{{/extend}}
