{{#extend "iframe"}}
  {{#content "body"}}
    <div id="Pattern">
      {{{html}}}
    </div>
    <div class="Results">
      <div class="A11yResultsContainer A11yResultsContainer--a11y" hidden>
        <b class="A11yResultsContainer-title">Accessibility tests</b>
        <details class="A11yResults A11yResults--violations">
          <summary class="A11yResults-summary">
            Failed: <span class="A11yResults-result is-negative">0</span>
          </summary>
          <div class="A11yResults-details"></div>
        </details>
        <details class="A11yResults A11yResults--incomplete">
          <summary class="A11yResults-summary">
            Incomplete: <span class="A11yResults-result is-warning">0</span>
          </summary>
          <div class="A11yResults-details"></div>
        </details>
        <details class="A11yResults A11yResults--passes">
          <summary class="A11yResults-summary">
            Passed: <span class="A11yResults-result is-positive">0</span>
          </summary>
          <div class="A11yResults-details"></div>
        </details>
        <details class="A11yResults A11yResults--inapplicable">
          <summary class="A11yResults-summary">
            Inapplicable: <span class="A11yResults-result is-neutral">0</span>
          </summary>
          <div class="A11yResults-details"></div>
        </details>
      </div>
      <div class="A11yResultsContainer A11yResultsContainer--html" hidden>
        <b class="A11yResultsContainer-title">HTML validation</b>
        <details class="A11yResults A11yResults--error">
          <summary class="A11yResults-summary">
            Errors: <span class="A11yResults-result is-negative">0</span>
          </summary>
          <div class="A11yResults-details"></div>
        </details>
        <details class="A11yResults A11yResults--warning">
          <summary class="A11yResults-summary">
            Warnings: <span class="A11yResults-result is-warning">0</span>
          </summary>
          <div class="A11yResults-details"></div>
        </details>
      </div>
    </div>
  {{/content}}
{{/extend}}
