<div class="Menu">
	{% include "@miyagi/menu/title.twig" %}
	<button class="Menu-toggleMobileMenu" aria-label="Show menu" aria-expanded="false"></button>
	<div class="Menu-content">
		{% if folders %}
			<div class="Menu-nav">
				{% include "@miyagi/menu/search.twig" %}
				{% include "@miyagi/menu/nav.twig" with {
					folders: folders,
					requestedComponent: requestedComponent,
					requestedVariation: requestedVariation,
					isBuild: isBuild
				} only %}
			</div>
		{% endif %}

		{% if buildDate %}
			<p class="Menu-buildDate">Built at: <time datetime="{{ buildDate }}">{{ formattedBuildDate }}</time></p>
			<script>
				const time = document.querySelector(".Menu-buildDate time");
				time.textContent = new Date(time.dateTime).toLocaleString();
			</script>
		{% endif %}

		{% include "@miyagi/menu/config-switchers.twig" %}
	</div>

	{% include "@miyagi/menu/goto.twig" %}
</div>
