{% extends "@miyagi/layouts/iframe_index.twig" %}
	{% block additionalCss %}
    {% for file in additionalCssFiles %}
    <link rel="stylesheet" href="{{ file }}">
    {% endfor %}
  {% endblock %}
  {% block content %}
    <div class="MiyagiWrapper">
      <div class="MiyagiContent">
        <div class="MiyagiDocumentation">
          <h1>{{ userProjectName }}</h1>
          {{ documentation }}
        </div>
      </div>
    </div>
  {% endblock %}
