@import url("./menu/config-switchers.css");
@import url("./menu/goto.css");
@import url("./menu/nav.css");
@import url("./menu/search.css");
@import url("./menu/title.css");

/** @define Menu; */

.Menu {
	--divider: 0.0625rem solid var(--Miyagi-color-Divider);
	--bar-size: 2rem;
	--bar-background: var(--Miyagi-color-Background)
		linear-gradient(
			to right,
			var(--Miyagi-color-Bar) var(--bar-size),
			transparent var(--bar-size)
		);
	--spacing: 0.5rem;
	--outline: 0.1875rem solid var(--Miyagi-color-Text);
	--outline-offset: 0.125rem;

	display: flex;
	background: var(--bar-background);
	grid-area: nav;
	font-size: 0.875em;
}

.Menu :where(:focus-visible) {
	outline: var(--outline);
}

.Menu-buildDate {
	font-size: 0.875em;
	color: var(--Miyagi-color-Link);
	opacity: 0.75;
}

@media (max-width: 40rem) {
	.Menu {
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: var(--Miyagi-spacing-y) var(--Miyagi-spacing-x);
	}

	.Menu-nav {
		margin-inline-start: 1rem;
		padding-inline: var(--Miyagi-spacing-x);
	}

	.Menu-search {
		position: relative;
	}

	.Menu-content {
		flex: 0 0 100%;
	}

	.Menu-toggleMobileMenu {
		--size: 2rem;

		box-sizing: content-box;
		display: block;
		block-size: var(--size);
		padding: 1rem;
		position: relative;
		inline-size: var(--size);
	}

	.Menu-toggleMobileMenu[aria-expanded="false"] + .Menu-content {
		display: none;
	}

	.Menu-toggleMobileMenu::after {
		border: var(--Miyagi-toggle-border);
		border-top-width: var(--Miyagi-toggle-borderWidth);
		border-inline-end-width: var(--Miyagi-toggle-borderWidth);
		content: "";
		display: block;
		font-size: 0.75em;
		block-size: var(--Miyagi-toggle-height);
		position: absolute;
		inset-block-start: 50%;
		inset-inline-start: 50%;
		transition: var(--Miyagi-toggle-transition);
		inline-size: var(--Miyagi-toggle-width);
	}

	.Menu-toggleMobileMenu[aria-expanded="false"]::after {
		transform: var(--Miyagi-toggle-transition-closed);
	}

	.Menu-toggleMobileMenu[aria-expanded="true"]::after {
		transform: var(--Miyagi-toggle-transition-opened);
	}
}

@media (min-width: 40.03125rem) {
	.Menu {
		flex-direction: column;
		block-size: 100vh;
	}

	.Menu-toggleMobileMenu {
		display: none;
	}

	.Menu-content {
		display: flex;
		flex: 1;
		flex-direction: column;
		overflow-y: auto;
	}

	.Menu-nav {
		flex: 1;
	}
}
