.Result:not(:first-child) {
	margin-top: 1.5rem;
}

.Result-data {
	border-inline-start: 0.2rem solid #ccc;
	padding-inline-start: 1rem;
}

.Result-attr,
.Result-value {
	display: inline;
}

.Result-attr {
	font-weight: bold;
}

.Result-attr::after {
	content: ":";
	display: inline;
}

.Result a {
	color: currentcolor;
	padding: 0 0.35rem;
	position: relative;
	word-break: break-all;
}

.Result a:hover,
.Result a:focus,
.Result a:active {
	background: var(--Miyagi-color-Link);
	border-radius: var(--Miyagi-borderRadius);
	box-shadow: 0 0.2rem 0 var(--Miyagi-color-Link);
	color: var(--Miyagi-color-Link-active);
	text-decoration: none;
}

.Result-extract {
	font-family: Menlo, Monaco, monospace;
	word-wrap: break-word;
}
