html {
	/* light */
	--Miyagi-color-Link--light: hsl(0deg 0% 12%);
	--Miyagi-color-Text--light: hsl(0deg 0% 36%);
	--Miyagi-color-Icon--light: hsl(0deg 0% 56%);
	--Miyagi-color-Background--light: hsl(0deg 0% 96%);
	--Miyagi-color-Negative--light: #d9173e;
	--Miyagi-color-Warning--light: purple;
	--Miyagi-color-Positive--light: #690;
	--Miyagi-color-Divider--light: rgb(0 0 0 / 10%);
	--Miyagi-color-Bar--light: rgb(0 0 0 / 5%);
	--Miyagi-color-Link-active-background--light: #fff;

	/* dark */
	--Miyagi-color-Link--dark: hsl(0deg 0% 100%);
	--Miyagi-color-Text--dark: hsl(0deg 0% 80%);
	--Miyagi-color-Icon--dark: hsl(0deg 0% 60%);
	--Miyagi-color-Background--dark: hsl(0deg 0% 16%);
	--Miyagi-color-Negative--dark: #ff305a;
	--Miyagi-color-Warning--dark: #b578b5;
	--Miyagi-color-Positive--dark: #8dd203;
	--Miyagi-color-Divider--dark: rgb(255 255 255 / 5%);
	--Miyagi-color-Bar--dark: rgb(0 0 0 / 15%);
	--Miyagi-color-Link-active-background--dark: hsl(0deg 0% 12%);

	/* misc */
	--Miyagi-color-Link: light-dark(
		var(--Miyagi-color-Link--light),
		var(--Miyagi-color-Link--dark)
	);
	--Miyagi-color-Text: light-dark(
		var(--Miyagi-color-Text--light),
		var(--Miyagi-color-Text--dark)
	);
	--Miyagi-color-Icon: light-dark(
		var(--Miyagi-color-Icon--light),
		var(--Miyagi-color-Icon--dark)
	);
	--Miyagi-color-Background: light-dark(
		var(--Miyagi-color-Background--light),
		var(--Miyagi-color-Background--dark)
	);
	--Miyagi-color-Negative: light-dark(
		var(--Miyagi-color-Negative--light),
		var(--Miyagi-color-Negative--dark)
	);
	--Miyagi-color-Warning: light-dark(
		var(--Miyagi-color-Warning--light),
		var(--Miyagi-color-Warning--dark)
	);
	--Miyagi-color-Positive: light-dark(
		var(--Miyagi-color-Positive--light),
		var(--Miyagi-color-Positive--dark)
	);
	--Miyagi-color-Divider: light-dark(
		var(--Miyagi-color-Divider--light),
		var(--Miyagi-color-Divider--dark)
	);
	--Miyagi-color-Bar: light-dark(
		var(--Miyagi-color-Bar--light),
		var(--Miyagi-color-Bar--dark)
	);
	--Miyagi-color-Link-active-background: light-dark(
		var(--Miyagi-color-Link-active-background--light),
		var(--Miyagi-color-Link-active-background--dark)
	);

	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.theme-light {
	color-scheme: light;
}

.theme-dark {
	color-scheme: dark;
}
