.Roundup-projectLogo {
  max-width: 100%;
}

.Roundup-projectLogo + .Roundup-projectName {
  display: none;
}

.Roundup-menu {
  font-size: 1.4rem;
  margin-top: var(--Roundup-spacing-y);
}

[aria-expanded="true"] ~ .Roundup-listContainer {
  display: block;
}

[aria-expanded="false"] ~ .Roundup-listContainer {
  display: none;
}

.Roundup-listItem {
  position: relative;
}

.Roundup-listItem--directory.Roundup-listItem--lvl0 {
  padding-bottom: 2rem;
}

.Roundup-list--variations,
.Roundup-list--components:not(.Roundup-list--lvl0) {
  padding-top: var(--spacingTop);
}

.Roundup-list--variations + .Roundup-list--components {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.Roundup-link,
.Roundup-component {
  display: block;
}

.Roundup-link,
a.Roundup-component {
  padding: 0 var(--Roundup-linkSpacing);
}

.Roundup-component--lvl0:not(a) {
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.Roundup-component:not(.Roundup-link) {
  color: var(--Roundup-color-link);
  opacity: 0.75;
}

.Roundup-link {
  color: var(--Roundup-color-link);
  text-decoration: none;
}

.Roundup-link:hover,
.Roundup-link:focus {
  text-decoration: underline;
}

.Roundup-link--showAll {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
}

.Roundup-link--variation {
  font-weight: 500;
}

.Roundup-link:not(.has-logo)[aria-current] {
  background: var(--Roundup-color-link);
  border-radius: var(--Roundup-borderRadius);
  color: var(--Roundup-color-linkActive);
  display: inline-block;
}

.Roundup-component.Roundup-link {
  font-weight: bold;
}

.Roundup-toggle {
  display: block;
  font-size: 1.5em;
  height: 1em;
  position: absolute;
  right: calc(100% - var(--right));
  text-indent: -9999em;
  top: 0;
  width: 1em;
}

.Roundup-toggle::after {
  border: var(--Roundup-toggle-border);
  border-width: var(--Roundup-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Roundup-toggle-fontSize);
  height: var(--Roundup-toggle-height);
  left: 50%;
  position: absolute;
  top: 50%;
  transition: var(--Roundup-toggle-transition);
  width: var(--Roundup-toggle-width);
}

.Roundup-toggle[aria-expanded="false"]::after {
  transform: var(--Roundup-toggle-transition-closed);
}

.Roundup-toggle[aria-expanded="true"]::after {
  transform: var(--Roundup-toggle-transition-opened);
}

@media (max-width: 40em) {
  .Roundup-projectLogo {
    height: 3rem;
  }
}

@media (pointer: coarse) {
  .Roundup-list {
    --spacingTop: 1.25rem;
    --spacingLeft: 1.5rem;
  }

  .Roundup-listContainer {
    margin-left: 2rem;
  }

  .Roundup-listItem:not(.Roundup-listItem--lvl0):not(:last-child) {
    padding-bottom: 1rem;
  }

  .Roundup-toggle {
    --right: -0.75rem;
  }

  .Roundup-toggle--lvl0 {
    --right: 0.25em !important;
  }

  .Roundup-component--lvl0 {
    margin-left: 1rem;
  }
}

@media (pointer: fine) {
  .Roundup-list {
    --spacingTop: 0.5rem;
    --spacingLeft: 1rem;
  }

  .Roundup-listContainer {
    margin-left: 1.5rem;
  }

  .Roundup-listItem:not(.Roundup-listItem--lvl0):not(:last-child) {
    padding-bottom: 0.5rem;
  }

  .Roundup-toggle {
    --right: 0rem; /* stylelint-disable-line */
  }
}
