.Miyagi-projectLogo {
  max-width: 100%;
  min-width: 50%;
}

.Miyagi-projectLogo + .Miyagi-projectName {
  display: none;
}

.Miyagi-menu {
  font-size: 1.4rem;
  margin: var(--Miyagi-spacing-y) 0 0 1.5rem;
}

[aria-expanded="true"] ~ .Miyagi-listContainer {
  display: block;
}

[aria-expanded="false"] ~ .Miyagi-listContainer {
  display: none;
}

.Miyagi-listItem {
  position: relative;
}

.Miyagi-listItem--directory.Miyagi-listItem--lvl0 {
  padding-bottom: 1em;
}

.Miyagi-list--variations,
.Miyagi-list--components:not(.Miyagi-list--lvl0) {
  padding-top: var(--spacingTop);
}

.Miyagi-list--variations + .Miyagi-list--components {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.Miyagi-link,
.Miyagi-component {
  display: block;
  padding: 0 var(--Miyagi-linkSpacing);
}

.Miyagi-component:not(.Miyagi-link) {
  color: var(--Miyagi-color-Link);
  cursor: default;
}

.Miyagi-component:not(.Miyagi-link):last-child {
  opacity: 0.6;
}

.Miyagi-link {
  color: var(--Miyagi-color-Link);
  text-decoration: none;
}

.Miyagi-link:hover,
.Miyagi-link:focus {
  text-decoration: underline;
}

.Miyagi-link--showAll {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
}

.Miyagi-link:not(.has-logo)[aria-current] {
  background: var(--Miyagi-color-Link-active-background, --Miyagi-color-Link);
  border-radius: var(--Miyagi-borderRadius);
  color: var(--Miyagi-color-Link-active);
  display: inline-block;
}

.Miyagi-component.Miyagi-link {
  font-weight: 600;
}

.Miyagi-toggle {
  display: block;
  font-size: 1.5em;
  height: 1em;
  position: absolute;
  right: calc(100% - var(--right));
  text-indent: -9999em;
  top: 0;
  width: 1em;
}

.Miyagi-toggle::after {
  border: var(--Miyagi-toggle-border);
  border-width: var(--Miyagi-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Miyagi-toggle-fontSize);
  height: var(--Miyagi-toggle-height);
  left: 50%;
  position: absolute;
  top: 50%;
  transition: var(--Miyagi-toggle-transition);
  width: var(--Miyagi-toggle-width);
}

.Miyagi-toggle[aria-expanded="false"]::after {
  transform: var(--Miyagi-toggle-transition-closed);
}

.Miyagi-toggle[aria-expanded="true"]::after {
  transform: var(--Miyagi-toggle-transition-opened);
}

@media (max-width: 40em) {
  .Miyagi-projectLogo {
    height: 3rem;
  }
}

@media (pointer: coarse) {
  .Miyagi-list {
    --spacingTop: 1.25rem;
    --spacingLeft: 1.5rem;
  }

  .Miyagi-listContainer {
    margin-left: 2rem;
  }

  .Miyagi-listItem:not(.Miyagi-listItem--lvl0):not(:last-child) {
    padding-bottom: 1rem;
  }

  .Miyagi-toggle {
    --right: -0.75rem;
  }

  .Miyagi-toggle--lvl0 {
    --right: 0.25em !important;
  }

  .Miyagi-component--lvl0 {
    margin-left: 1rem;
  }
}

@media (pointer: fine) {
  .Miyagi-list {
    --spacingTop: 0.5rem;
    --spacingLeft: 1rem;
  }

  .Miyagi-listContainer {
    margin-left: 1.5rem;
  }

  .Miyagi-listItem:not(.Miyagi-listItem--lvl0):not(:last-child) {
    padding-bottom: 0.5rem;
  }

  .Miyagi-toggle {
    --right: 0rem; /* stylelint-disable-line */
  }
}
