.RoundupResults + .RoundupResults {
  margin-top: var(--results-spacing);
}

.RoundupResults-summary {
  cursor: default;
  list-style-type: none;
  padding: 0 0 0 1.5rem;
  position: relative;
  white-space: nowrap;
}

.RoundupResults-summary::after {
  border: var(--Roundup-toggle-border);
  border-color: currentColor;
  border-width: var(--Roundup-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Roundup-toggle-fontSize);
  height: var(--Roundup-toggle-height);
  left: 0.25rem;
  position: absolute;
  top: 50%;
  transition: var(--Roundup-toggle-transition);
  width: var(--Roundup-toggle-width);
}

.RoundupResults-summary::-webkit-details-marker {
  display: none;
}

.RoundupResults:not([open]) .RoundupResults-summary::after {
  transform: var(--Roundup-toggle-transition-closed);
}

.RoundupResults[open] .RoundupResults-summary::after {
  transform: var(--Roundup-toggle-transition-opened);
}

.RoundupResults-value:not(:last-child) {
  padding-right: 1rem;
}

.RoundupResults-value.has-positiveValue {
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  line-height: 1.2;
  min-width: 1.2em;
  padding: 0 0.5rem;
  text-align: center;
}

.RoundupResults-value--positive {
  color: var(--Roundup-color-positive);
}

.RoundupResults-value--positive.has-positiveValue {
  background: var(--Roundup-color-positive);
}

.RoundupResults-value--neutral {
  color: var(--Roundup-color-lightGray);
}

.RoundupResults-value--neutral.has-positiveValue {
  background: var(--Roundup-color-lightGray);
}

.RoundupResults-value--negative {
  color: var(--Roundup-color-negative);
}

.RoundupResults-value--negative.has-positiveValue {
  background: var(--Roundup-color-negative);
}

.RoundupResults-value--warning {
  color: var(--Roundup-color-warning);
}

.RoundupResults-value--warning.has-positiveValue {
  background: var(--Roundup-color-warning);
}

.RoundupResults-details {
  margin: 1rem 0 1rem 0;
}

.RoundupResults-empty {
  font-style: italic;
}

@media (pointer: coarse) {
  .RoundupResults + .RoundupResults {
    --results-spacing: 0.75rem;
  }
}

@media (pointer: fine) {
  .RoundupResults + .RoundupResults {
    --results-spacing: 0.5rem;
  }
}
