.MiyagiResults + .MiyagiResults {
  margin-top: var(--results-spacing);
}

.MiyagiResults-summary {
  cursor: default;
  list-style-type: none;
  padding: 0 0 0 1.5rem;
  position: relative;
  white-space: nowrap;
}

.MiyagiResults-summary::after {
  border: var(--Miyagi-toggle-border);
  border-color: currentColor;
  border-width: var(--Miyagi-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Miyagi-toggle-fontSize);
  height: var(--Miyagi-toggle-height);
  left: 0.25rem;
  position: absolute;
  top: 50%;
  transition: var(--Miyagi-toggle-transition);
  width: var(--Miyagi-toggle-width);
}

.MiyagiResults-summary::-webkit-details-marker {
  display: none;
}

.MiyagiResults:not([open]) .MiyagiResults-summary::after {
  transform: var(--Miyagi-toggle-transition-closed);
}

.MiyagiResults[open] .MiyagiResults-summary::after {
  transform: var(--Miyagi-toggle-transition-opened);
}

.MiyagiResults-value:not(:last-child) {
  padding-right: 1rem;
}

.MiyagiResults-value.has-positiveValue {
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  line-height: 1.2;
  min-width: 1.2em;
  padding: 0 0.5rem;
  text-align: center;
}

.MiyagiResults-value--positive {
  color: var(--Miyagi-color-Positive);
}

.MiyagiResults-value--positive.has-positiveValue {
  background: var(--Miyagi-color-Positive);
}

.MiyagiResults-value--neutral {
  color: var(--Miyagi-color-Text);
}

.MiyagiResults-value--neutral.has-positiveValue {
  background: var(--Miyagi-color-Text);
}

.MiyagiResults-value--negative {
  color: var(--Miyagi-color-Negative);
}

.MiyagiResults-value--negative.has-positiveValue {
  background: var(--Miyagi-color-Negative);
}

.MiyagiResults-value--warning {
  color: var(--Miyagi-color-Warning);
}

.MiyagiResults-value--warning.has-positiveValue {
  background: var(--Miyagi-color-Warning);
}

.MiyagiResults-details {
  margin: 1rem 0 1rem 0;
}

.MiyagiResults-empty {
  font-style: italic;
}

@media (pointer: coarse) {
  .MiyagiResults + .MiyagiResults {
    --results-spacing: 0.75rem;
  }
}

@media (pointer: fine) {
  .MiyagiResults + .MiyagiResults {
    --results-spacing: 0.5rem;
  }
}
