.MiyagiResult:not(:first-child) {
  margin-top: 1.5rem;
}

.MiyagiResult-data {
  border-left: 0.2rem solid #ccc;
  padding: 0 0 0 1rem;
}

.MiyagiResult-attr,
.MiyagiResult-value {
  display: inline;
}

.MiyagiResult-attr {
  font-weight: bold;
}

.MiyagiResult-attr::after {
  content: ":";
  display: inline;
}

.MiyagiResult a {
  color: currentColor;
  padding: 0 0.35rem;
  position: relative;
  word-break: break-all;
}

.MiyagiResult a:hover,
.MiyagiResult a:focus,
.MiyagiResult a:active {
  background: var(--Miyagi-color-Link);
  border-radius: var(--Miyagi-borderRadius);
  box-shadow: 0 0.2rem 0 var(--Miyagi-color-Link);
  color: var(--Miyagi-color-Link-active);
  text-decoration: none;
}

.MiyagiResult-extract {
  font-family: "Menlo", "Monaco", monospace;
}
