.MiyagiTest {
  font-size: 1.4rem;
}

.MiyagiTest:not(:first-child) {
  margin-top: var(--Miyagi-spacing-y);
}

.MiyagiTest:last-child {
  margin-bottom: var(--Miyagi-spacing-y);
}

.MiyagiTest-title {
  color: var(--Miyagi-colorHeadlines);
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
