.RoundupTest {
  font-size: 1.4rem;
}

.RoundupTest:not(:first-child) {
  margin-top: var(--Roundup-spacing-y);
}

.RoundupTest:last-child {
  margin-bottom: var(--Roundup-spacing-y);
}

.RoundupTest-title {
  color: var(--Roundup-colorHeadlines);
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
