.HeadmanTest {
  font-size: 1.4rem;
}

.HeadmanTest:not(:first-child) {
  margin-top: var(--Headman-spacing-y);
}

.HeadmanTest:last-child {
  margin-bottom: var(--Headman-spacing-y);
}

.HeadmanTest-title {
  color: var(--Headman-colorHeadlines);
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
