@import "./iframe/theme.css";
@import "./iframe/styleguide/index.css";

.MiyagiContent *,
.MiyagiIframe-newTabLink {
  all: revert;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: var(--Miyagi-color-Background);
}

.MiyagiWrapper {
  box-sizing: border-box;
  padding: var(--Miyagi-spacing);
  width: 100%;
}

.MiyagiContent,
.MiyagiIframe-newTabLink,
.MiyagiContent .MiyagiComponent-head {
  font-family: var(--Miyagi-fontFamily);
  line-height: 1;
}

.MiyagiContent {
  color: var(--Miyagi-color-Text);
}

.MiyagiContent a {
  color: var(--Miyagi-color-Link);
  text-decoration: underline;
}

.MiyagiContent code[class*="language-"],
.MiyagiContent pre[class*="language-"] {
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.MiyagiContent .MiyagiDocumentation code,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  font-size-adjust: 0.525;
  text-shadow: none;
}

.MiyagiContent .MiyagiDocumentation,
.MiyagiContent .MiyagiInformation,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"],
.MiyagiContent .MiyagiErrorMessage {
  line-height: calc(1ex / 0.32);
}

.MiyagiContent .MiyagiInformation code,
.MiyagiContent .MiyagiDocumentation code,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  font-family: "Menlo", "Monaco", monospace;
}

.MiyagiContent .MiyagiDocumentation h1 {
  color: var(--Miyagi-color-Headline1);
  font-size: 2.4em;
  font-weight: bold;
  line-height: 1;
}

.MiyagiContent .MiyagiDocumentation > * + * {
  margin-top: calc(1ex / 0.32);
}

.MiyagiContent .MiyagiDocumentation i {
  font-style: italic;
}

.MiyagiContent .MiyagiInformation-val {
  margin-left: 0;
}

.MiyagiContent .MiyagiComponent-headMeta > *:not(:first-child) {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid;
}

.MiyagiContent .MiyagiDocumentation > *:first-child {
  margin-top: 0;
}

.MiyagiContent .MiyagiDocumentation p {
  max-width: 64ch;
}

.MiyagiContent .Miyagi-sectionTitle {
  align-items: center;
  color: var(--Miyagi-color-Headline2);
  display: flex;
  font-size: 1.6em;
  margin: 2em 0 1em;
  scroll-margin-top: 1.5em;
}

.MiyagiContent .Miyagi-sectionTitle::after {
  background: var(--Miyagi-color-Headline2-divider);
  content: "";
  flex: 1;
  height: 1px;
  margin-left: 20px;
}

.MiyagiContent .MiyagiInformation-wrapper + .MiyagiInformation-wrapper {
  margin-top: 30px;
}

.MiyagiContent .MiyagiInformation-attr {
  color: var(--Miyagi-color-TextSecondary);
  font-family: var(--Miyagi-fontFamily);
  font-size: 0.875em;
  letter-spacing: 0.0375em;
  text-decoration: none;
  text-transform: uppercase;
}

.MiyagiContent .MiyagiInformation-attr:not(:first-child) {
  margin-top: 1em;
}

.MiyagiContent .MiyagiInformation code,
.MiyagiContent .MiyagiDocumentation code {
  font-weight: 600;
}

.MiyagiContent .MiyagiStatus::before {
  --size: 0.7em;

  border-radius: 50%;
  content: "";
  display: inline-block;
  height: var(--size);
  margin: 0 0.25em 0 0;
  width: var(--size);
}

.MiyagiContent .MiyagiStatus--valid::before {
  background-color: var(--Miyagi-color-Positive);
}

.MiyagiContent .MiyagiStatus--invalid::before {
  background-color: var(--Miyagi-color-Negative);
}

.MiyagiContent .MiyagiError {
  align-items: center;
  color: var(--Miyagi-color-Negative);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}

.MiyagiContent .MiyagiErrorMessage {
  color: var(--Miyagi-color-Negative);
  margin: 1.5em 0;
}

.MiyagiIframe-newTabLink {
  color: var(--Miyagi-color-NewTabLink);
  align-items: center;
  display: flex;
  font-weight: normal;
  text-decoration: underline;
}

.MiyagiIframe-newTabLink svg {
  --size: 1.2em;

  height: var(--size);
  margin-right: 0.5em;
  width: var(--size);
  stroke: currentColor;
  stroke-width: 2px;
  fill: none;
}

.MiyagiContent .MiyagiTabs-nav {
  display: flex;
  list-style: none;
  margin: 0 0 -1px;
  padding: 0;
}

.MiyagiContent .MiyagiTabs-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: 0 15px;
  font: inherit;
  color: inherit;
  line-height: 2.5;
  border: 0 solid transparent;
  border-width: 1px 1px 0 1px;
}

.MiyagiContent .MiyagiTabs-button[aria-selected="true"],
.MiyagiContent pre[class*="language-"],
.MiyagiContent .Miyagi-code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  background: var(--Miyagi-color-Code-background);
}

.MiyagiContent .MiyagiTabs-button[aria-selected="true"],
.MiyagiContent :not(pre) > code[class*="language-"],
.MiyagiContent pre[class*="language-"] {
  border-color: var(--Miyagi-color-Code-outline);
}

.MiyagiContent .Miyagi-code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  border: 1px solid var(--Miyagi-color-Code-outline);
  padding: calc(var(--Miyagi-spacing) / 2);
}

.MiyagiContent .Miyagi-code,
.MiyagiContent pre[class*="language-"] {
  font-size: 0.875em;
}

.MiyagiContent .MiyagiTabs-tab[hidden] {
  display: none;
}

.MiyagiContent .MiyagiTabs-tab > *:first-child {
  margin-top: 0;
}

.MiyagiComponent:not(:last-child) {
  margin-bottom: calc(2 * var(--Miyagi-spacing));
}

.MiyagiComponent .MiyagiComponent-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.MiyagiComponent .MiyagiComponent-headMeta {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 30px;
}

.MiyagiComponent .MiyagiComponent-file {
  align-items: center;
  color: var(--Miyagi-color-TextSecondary);
  display: inline-flex;
  flex-wrap: wrap;
  font-family: var(--Miyagi-fontFamily);
  font-size: 0.875em;
  letter-spacing: 0.0375em;
  text-decoration: none;
  text-transform: uppercase;
}

.MiyagiComponent .MiyagiComponent-file:hover,
.MiyagiComponent .MiyagiComponent-file:focus,
.MiyagiComponent .MiyagiComponent-file:active {
  text-decoration: underline;
}

.MiyagiComponent .MiyagiComponent-fileFolders {
  color: var(--Miyagi-color-TextTertiary);
}

.MiyagiComponent .MiyagiComponent-html {
  margin: calc(var(--Miyagi-spacing) / 2) 0 0;
}

.MiyagiComponentView {
  border: 1px solid var(--Miyagi-color-Outline);
  box-sizing: border-box;
  height: calc(100vh - 2 * var(--Miyagi-spacing));
  overflow: auto;
  resize: both;
  width: 100%;
}

.MiyagiWrapper ~ .MiyagiIframe-newTabLink {
  line-height: 40px;
  position: absolute;
  right: 40px;
  top: 0;
  font-size: 14px;
}

.MiyagiIndex {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.MiyagiIndex-item:not(:last-child) {
  display: flex;
  align-items: center;
}

.MiyagiIndex-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 1em;
  background: currentColor;
  margin: 0 0.5em;
}

@media screen and (prefers-reduced-motion) {
  .MiyagiContent *,
  .MiyagiContent *::after,
  .MiyagiContent *::before {
    animation: none !important;
    transition: none !important;
  }
}
