:root {
  --Miyagi-fontFamily: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;
  --Miyagi-color: #222;
  --Miyagi-color-negative: #d9173e;
  --Miyagi-color-warning: purple;
  --Miyagi-color-positive: #690;
  --Miyagi-colorHeadlines: var(--Miyagi-color);
  --Miyagi-transition: all 0.15s ease;
  --Miyagi-spacing: 40px;
}

.MiyagiContent *,
.MiyagiIframe-newTabLink {
  all: revert;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.MiyagiWrapper {
  box-sizing: border-box;
  padding: var(--Miyagi-spacing);
  width: 100%;
}

.MiyagiContent,
.MiyagiIframe-newTabLink,
.MiyagiComponent-head {
  color: var(--Miyagi-color);
  font-family: var(--Miyagi-fontFamily);
  line-height: 1;
}

.MiyagiContent a,
.MiyagiIframe-newTabLink {
  color: inherit;
}

.MiyagiContent .MiyagiDocumentation code,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  font-size-adjust: 0.525;
}

.MiyagiContent .MiyagiDocumentation,
.MiyagiContent .MiyagiInformation,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"],
.MiyagiContent .MiyagiErrorMessage {
  line-height: calc(1ex / 0.32);
}

.MiyagiContent .MiyagiInformation code,
.MiyagiContent .MiyagiDocumentation code,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  font-family: "Menlo", "Monaco", monospace;
}

.MiyagiContent .MiyagiDocumentation h1 {
  color: var(--Miyagi-colorHeadlines);
  font-size: 2.4em;
  font-weight: bold;
  line-height: 1;
}

.MiyagiContent .MiyagiDocumentation > * + * {
  margin-top: calc(1ex / 0.32);
}

.MiyagiContent .MiyagiDocumentation i {
  font-style: italic;
}

.MiyagiContent .MiyagiInformation-val {
  margin-left: 0;
}

.MiyagiComponent-headMeta > *:not(:first-child) {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid;
}

.MiyagiContent .MiyagiDocumentation > *:first-child {
  margin-top: 0;
}

.MiyagiContent .MiyagiDocumentation p {
  max-width: 64ch;
}

.MiyagiContent .Miyagi-sectionTitle {
  align-items: center;
  color: var(--Miyagi-colorHeadlines);
  display: flex;
  font-size: 1.6em;
  margin: 2em 0 1em;
}

.MiyagiContent .Miyagi-sectionTitle::after {
  background: #ddd;
  content: "";
  flex: 1;
  height: 1px;
  margin-left: 20px;
}

.MiyagiContent .MiyagiInformation-wrapper + .MiyagiInformation-wrapper {
  margin-top: 30px;
}

.MiyagiContent .MiyagiInformation-attr {
  color: #767676;
  font-family: var(--Miyagi-fontFamily);
  font-size: 0.875em;
  letter-spacing: 0.0375em;
  text-decoration: none;
  text-transform: uppercase;
}

.MiyagiContent .MiyagiInformation-attr:not(:first-child) {
  margin-top: 1em;
}

.MiyagiContent .MiyagiInformation code,
.MiyagiContent .MiyagiDocumentation code {
  font-weight: 600;
}

.MiyagiComponent:not(:last-child) {
  margin-bottom: calc(2 * var(--Miyagi-spacing));
}

.MiyagiStatus::before {
  --size: 0.7em;

  border-radius: 50%;
  content: "";
  display: inline-block;
  height: var(--size);
  margin: 0 0.25em 0 0;
  width: var(--size);
}

.MiyagiStatus--valid::before {
  background-color: var(--Miyagi-color-positive);
}

.MiyagiStatus--invalid::before {
  background-color: var(--Miyagi-color-negative);
}

.MiyagiComponent-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.MiyagiComponent-headMeta {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 30px;
}

.MiyagiComponent-file {
  align-items: center;
  color: #767676;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: var(--Miyagi-fontFamily);
  font-size: 0.875em;
  letter-spacing: 0.0375em;
  text-decoration: none;
  text-transform: uppercase;
}

.MiyagiComponent-file:hover,
.MiyagiComponent-file:focus,
.MiyagiComponent-file:active {
  text-decoration: underline;
}

.MiyagiComponent-fileFolders {
  color: #bbb;
}

.MiyagiComponent-html {
  margin: calc(var(--Miyagi-spacing) / 2) 0 0;
}

.MiyagiContent .MiyagiError {
  align-items: center;
  color: var(--Miyagi-color-negative);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}

.MiyagiContent .MiyagiErrorMessage {
  color: var(--Miyagi-color-negative);
  margin: 1.5em 0;
}

.MiyagiComponentView {
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: calc(100vh - 2 * var(--Miyagi-spacing));
  overflow: auto;
  resize: both;
  width: 100%;
}

.MiyagiIframe-newTabLink {
  align-items: center;
  display: flex;
  font-weight: normal;
  text-decoration: underline;
}

.MiyagiWrapper ~ .MiyagiIframe-newTabLink {
  line-height: 40px;
  position: absolute;
  right: 40px;
  top: 0;
  font-size: 14px;
}

.MiyagiIframe-newTabLink svg {
  --size: 1.2em;

  height: var(--size);
  margin-right: 0.5em;
  width: var(--size);
}

.MiyagiContent .Miyagi-code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  border: 1px solid #ddd;
  padding: calc(var(--Miyagi-spacing) / 2);
  background: #f8f8f8;
}

.MiyagiContent .Miyagi-code,
.MiyagiContent pre[class*="language-"] {
  font-size: 0.875em;
}

.MiyagiContent .MiyagiTabs-nav {
  display: flex;
  list-style: none;
  margin: 0 0 -1px;
  padding: 0;
}

.MiyagiContent .MiyagiTabs-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: 0 15px;
  font: inherit;
  color: inherit;
  line-height: 2.5;
  border: 0 solid transparent;
  border-width: 1px 1px 0 1px;
}

.MiyagiContent .MiyagiTabs-button[aria-selected="true"],
.MiyagiContent :not(pre) > code[class*="language-"],
.MiyagiContent pre[class*="language-"] {
  background: #f8f8f8;
  border-color: #ddd;
}

.MiyagiContent .MiyagiTabs-tab[hidden] {
  display: none;
}

.MiyagiContent .MiyagiTabs-tab > *:first-child {
  margin-top: 0;
}

@media screen and (prefers-reduced-motion) {
  .MiyagiContent *,
  .MiyagiContent *::after,
  .MiyagiContent *::before {
    animation: none !important;
    transition: none !important;
  }
}
