@import "./_reset.css";
@import "./_nav.css";
@import "./_test.css";
@import "./_results.css";
@import "./_result.css";

:root {
  --Miyagi-fontFamily: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;
  --Miyagi-fontSize: 1.6rem;
  --Miyagi-lineHeight: 1.5;

  /* light */
  --Miyagi-color-Grey-1: hsl(0, 0%, 12%);
  --Miyagi-color-Grey-2: hsl(0, 0%, 36%);
  --Miyagi-color-Grey-3: hsl(0, 0%, 56%);
  --Miyagi-color-Grey-4: hsl(0, 0%, 86%);
  --Miyagi-color-Grey-5: hsl(0, 0%, 96%);

  /* colors */
  --Miyagi-color-Background: var(--Miyagi-color-Grey-5);
  --Miyagi-color-Background2: #fff;
  --Miyagi-color-Text: var(--Miyagi-color-Grey-2);
  --Miyagi-color-Link: var(--Miyagi-color-Grey-1);
  --Miyagi-color-Link-active: var(--Miyagi-color-Grey-5);
  --Miyagi-color-Link-active-background: var(--Miyagi-color-Link);
  --Miyagi-color-Negative: #d9173e;
  --Miyagi-color-Warning: purple;
  --Miyagi-color-Positive: #690;

  /* misc */
  --Miyagi-borderRadius: 0.25rem;
  --Miyagi-linkSpacing: 0.35rem;
  --Miyagi-toggle-border: 0 solid var(--Miyagi-color-Link);
  --Miyagi-toggle-borderWidth: 0.25em 0.25em 0 0;
  --Miyagi-toggle-fontSize: 0.6rem;
  --Miyagi-toggle-height: 1em;
  --Miyagi-toggle-transition: transform 0.15s ease;
  --Miyagi-toggle-width: 1em;
  --Miyagi-toggle-transition-closed: translate(-50%, -50%) rotate(45deg);
  --Miyagi-toggle-transition-opened: translate(-25%, -75%) rotate(135deg);
  --Miyagi-spacing: var(--Miyagi-spacing-y);
}

.MiyagiTheme--dark {
  --Miyagi-color-Grey-1: hsl(0, 0%, 100%);
  --Miyagi-color-Grey-2: hsl(0, 0%, 80%);
  --Miyagi-color-Grey-3: hsl(0, 0%, 60%);
  --Miyagi-color-Grey-4: hsl(0, 0%, 26%);
  --Miyagi-color-Grey-5: hsl(0, 0%, 16%);
  --Miyagi-color-Background: hsl(0, 0%, 10%);
  --Miyagi-color-Background2: hsl(0, 0%, 12%);
  --Miyagi-color-Negative: #ff305a;
  --Miyagi-color-Warning: #b578b5;
  --Miyagi-color-Positive: #8dd203;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--Miyagi-color-Background2);
  color: var(--Miyagi-color-Text);
}

.Miyagi {
  display: grid;
  font-family: var(--Miyagi-fontFamily);
  font-size: var(--Miyagi-fontSize);
  line-height: var(--Miyagi-lineHeight);
  min-height: 100%;
}

.Miyagi-nav {
  display: flex;
  background: var(--Miyagi-color-Background);
  grid-area: nav;
  overflow-y: auto;
  padding: var(--Miyagi-spacing-y) var(--Miyagi-spacing-x)
    var(--Miyagi-spacing-x);
}

.Miyagi-content {
  grid-area: iframe;
}

.Miyagi-frameWrapper {
  height: 100%;
  width: 100%;
}

.Miyagi-frame {
  display: block;
  height: 100%;
  width: 100%;
}

.Miyagi-tests {
  grid-area: tests;
  padding-right: 4rem;
}

.Miyagi-buildDate {
  font-size: 1.2rem;
  color: var(--Miyagi-color-Link);
  opacity: 0.75;
}

@media (max-width: 40em) {
  :root {
    --Miyagi-spacing-x: 1rem;
    --Miyagi-spacing-y: 1rem;
  }

  .Miyagi {
    grid-template:
      "nav"
      "iframe" 1fr
      "tests";
  }

  .Miyagi-menu,
  .Miyagi-toggleMobileMenu {
    order: 1;
  }

  .Miyagi-menu {
    flex: 0 0 100%;
    padding-left: var(--Miyagi-spacing-x);
    padding-right: var(--Miyagi-spacing-x);
  }

  .Miyagi-toggleMobileMenu[aria-expanded="false"] + .Miyagi-menu {
    display: none;
  }

  .Miyagi-nav {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .Miyagi-title {
    max-width: 50%;
    padding-left: var(--Miyagi-spacing-x);
  }

  .Miyagi-toggleMobileMenu {
    --size: 2rem;

    box-sizing: content-box;
    display: block;
    height: var(--size);
    padding: 1rem;
    position: relative;
    width: var(--size);
  }

  .Miyagi-toggleMobileMenu::after {
    border: var(--Miyagi-toggle-border);
    border-width: var(--Miyagi-toggle-borderWidth);
    content: "";
    display: block;
    font-size: 0.75em;
    height: var(--Miyagi-toggle-height);
    left: 50%;
    position: absolute;
    top: 50%;
    transition: var(--Miyagi-toggle-transition);
    width: var(--Miyagi-toggle-width);
  }

  .Miyagi-toggleMobileMenu[aria-expanded="false"]::after {
    transform: var(--Miyagi-toggle-transition-closed);
  }

  .Miyagi-toggleMobileMenu[aria-expanded="true"]::after {
    transform: var(--Miyagi-toggle-transition-opened);
  }

  .Miyagi-tests {
    padding: 4rem;
  }
}

@media (min-width: 40.03125em) {
  :root {
    --Miyagi-spacing-x: 2rem;
    --Miyagi-spacing-y: 4rem;
  }

  .Miyagi-nav {
    flex-direction: column;
    height: 100vh;
  }

  .Miyagi-menu {
    flex: 1;
  }

  .Miyagi-toggleMobileMenu {
    display: none;
  }

  .Miyagi-tests {
    max-height: var(--maxHeight);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
}

@media (min-width: 40.03125em) and (max-width: 64em) {
  .Miyagi {
    grid-template-areas:
      "nav iframe"
      "nav tests";
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 1fr auto;
  }

  .Miyagi-tests {
    --maxHeight: 50vh;

    padding-left: 4rem;
    padding-top: 4rem;
  }
}

@media (min-width: 64.03125em) {
  .Miyagi {
    grid-template-areas: "nav iframe tests";
    grid-template-columns: 25rem 1fr auto;
  }

  .Miyagi-tests {
    --maxHeight: 100vh;

    min-width: 30rem;
    padding-top: 4rem;
    width: 20vw;
  }
}

@media screen and (prefers-reduced-motion) {
  *,
  *::after,
  *::before {
    animation: none !important;
    transition: none !important;
  }
}
