<summary-display>
  <ul slot="master-list">
    {{#each entries}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>

  {{#each entries}}
  <p data-name="{{this.name}}">{{this.text}}</p>
  {{/each}}
</summary-display>

<template id="summary-display-template">
  <article>
    <div>
      <slot name="master-list"></slot>
    </div>
    <div>
      <slot name="choice"></slot>
    </div>
  </article>
</template>
