<template id="person-template">
  <div>
    <h2>Personal ID Card</h2>
    <slot name="person-name">NAME MISSING</slot>
    <ul>
      <li>
        <slot name="person-age">AGE MISSING</slot>
      </li>
      <li>
        <slot name="person-occupation">OCCUPATION MISSING</slot>
      </li>
    </ul>
  </div>
</template>

<person-details-edit-word>
  <p slot="person-name">
    <edit-word>Morgan</edit-word> Stanley
  </p>
  <span slot="person-age">36</span>
  <span slot="person-occupation">Accountant</span>
</person-details-edit-word>

<p>My name is <edit-word>Chris</edit-word>, the man said.</p>
