.A11yResults-summary {
  cursor: default;
}

.A11yResults-details {
  font-size: 1.4rem;
  margin: 1rem 0 1rem 2.2rem;
  max-height: 50vh;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.A11yResults-entry:not(:first-child) {
  margin-top: 1.5rem;
}

.A11yResults-entry dt {
  float: left;
  font-weight: bold;
  margin: 0 0.5em 0 0;
}

.A11yResults-entry dt::after {
  content: ":";
  display: inline;
}

.A11yResults-entry a {
  color: #0a374e;
}

.A11yResults-noResults {
  font-style: italic;
}

.A11yResults-result:not(:last-child) {
  padding-right: 1rem;
}

.A11yResults-result.has-positiveValue {
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  line-height: 1.2;
  min-width: 1.2em;
  padding: 0 0.5rem;
  text-align: center;
}

.A11yResults-result.has-positiveValue.is-positive {
  background: green;
}

.is-positive {
  color: green;
}

.A11yResults-result.has-positiveValue.is-neutral {
  background: #767676;
}

.is-neutral {
  color: #767676;
}

.A11yResults-result.has-positiveValue.is-negative {
  background: #e71d45;
}

.is-negative {
  color: #e71d45;
}

.A11yResults-result.has-positiveValue.is-warning {
  background: purple;
}

.is-warning {
  color: purple;
}

.A11yResults-data {
  border-left: 0.2rem solid #ccc;
  padding: 0 0 0 1rem;
}
