.ComponentLibraryNav {
  background: var(--ComponentLibrary-bg);
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
}

.ComponentLibraryNav-menu {
  margin-top: 2rem;
}

.ComponentLibraryNav-showAll,
.ComponentLibraryNav-link,
.ComponentLibraryNav-component {
  display: block;
  padding: 0 0.35rem;
}

.ComponentLibraryNav-showAll,
.ComponentLibraryNav-link {
  text-decoration: none;
}

.ComponentLibraryNav-showAll {
  font-weight: bold;
}

.ComponentLibraryNav [aria-current] {
  background: #0a374e;
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
}

.ComponentLibraryNav-list {
  font-size: 1.4rem;
}

.ComponentLibraryNav-item {
  position: relative;
}

.ComponentLibraryNav-toggle {
  display: block;
  font-size: 1.5em;
  height: 1em;
  position: absolute;
  right: calc(100% - 0.25rem);
  text-indent: -9999em;
  top: 0;
  width: 1em;
}

.ComponentLibraryNav-toggle::after {
  border: 0 solid #000;
  border-width: 0.2rem 0.2rem 0 0;
  content: "";
  display: block;
  font-size: 0.25em;
  height: 1em;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: transform 0.15s ease;
  width: 1em;
}

.ComponentLibraryNav-toggle[aria-expanded="false"]::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.ComponentLibraryNav-toggle[aria-expanded="true"]::after {
  transform: translate(-50%, -50%) rotate(135deg);
}

.ComponentLibraryNav-list
  > .ComponentLibraryNav-item
  > .ComponentLibraryNav-list:not(:first-child) {
  margin-left: 1.75rem;
  padding-top: 0.5rem;
}

.ComponentLibraryNav-item:not(:last-child) {
  padding-bottom: 0.5rem;
}

.ComponentLibraryNav-list:first-child
  > .ComponentLibraryNav-item:not(:first-child) {
  padding-top: 1rem;
}

.ComponentLibraryNav-link--variation {
  color: #333;
}

.ComponentLibraryNav-showAll:hover,
.ComponentLibraryNav-showAll:focus,
.ComponentLibraryNav-link:hover,
.ComponentLibraryNav-link:focus {
  text-decoration: underline;
}

.ComponentLibraryNav-component {
  font-weight: 500;
}

.ComponentLibraryNav-list
  .ComponentLibraryNav-list
  .ComponentLibraryNav-component.is-disabled {
  color: #707070;
  font-style: italic;
}

.ComponentLibraryNav-list:first-child
  > .ComponentLibraryNav-item
  > .ComponentLibraryNav-component {
  font-weight: bold;
}
