.Freitag-menu {
  font-size: 1.4rem;
  margin-top: 2rem;
}

[aria-expanded="true"] ~ .Freitag-list {
  display: block;
}

[aria-expanded="false"] ~ .Freitag-list {
  display: none;
}

.Freitag-listItem {
  position: relative;
}

.Freitag-listItem--directory.Freitag-listItem--lvl0 {
  padding-bottom: 2rem;
}

.Freitag-list--variations,
.Freitag-list--components:not(.Freitag-list--lvl0) {
  padding-top: var(--spacingTop);
}

.Freitag-list--variations + .Freitag-list--components {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.Freitag-list--components:not(.Freitag-list--lvl0) {
  margin-left: var(--spacingLeft);
}

.Freitag-link,
.Freitag-component {
  display: block;
  padding: 0 var(--Freitag-linkSpacing);
}

.Freitag-component--lvl0 {
  font-weight: 500;
}

.Freitag-component:not(.Freitag-link) {
  color: var(--Freitag-color-lightGray);
}

.Freitag-link {
  text-decoration: none;
}

.Freitag-link:hover,
.Freitag-link:focus {
  text-decoration: underline;
}

.Freitag-link--showAll {
  font-weight: bold;
}

.Freitag-link--variation {
  font-weight: 500;
}

.Freitag-link[aria-current] {
  background: var(--Freitag-color-link);
  border-radius: var(--Freitag-borderRadius);
  color: #fff;
  display: inline-block;
}

.Freitag-component.Freitag-link {
  font-weight: bold;
}

.Freitag-toggle {
  display: block;
  font-size: 1.5em;
  height: 1em;
  position: absolute;
  right: calc(100% - var(--right));
  text-indent: -9999em;
  top: 0;
  width: 1em;
}

.Freitag-toggle::after {
  border: var(--Freitag-toggle-border);
  border-width: var(--Freitag-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Freitag-toggle-fontSize);
  height: var(--Freitag-toggle-height);
  left: 50%;
  position: absolute;
  top: 50%;
  transition: var(--Freitag-toggle-transition);
  width: var(--Freitag-toggle-width);
}

.Freitag-toggle[aria-expanded="false"]::after {
  transform: var(--Freitag-toggle-transition-closed);
}

.Freitag-toggle[aria-expanded="true"]::after {
  transform: var(--Freitag-toggle-transition-opened);
}

@media (pointer: coarse) {
  .Freitag-list {
    --spacingTop: 1.25rem;
    --spacingLeft: 3.5rem;
  }

  .Freitag-list--variations {
    margin-left: 2rem;
  }

  .Freitag-listItem:not(.Freitag-listItem--lvl0):not(:last-child) {
    padding-bottom: 1rem;
  }

  .Freitag-toggle {
    --right: -0.75rem;
  }

  .Freitag-toggle--lvl0 {
    --right: 0.25em !important;
  }

  .Freitag-component--lvl0 {
    margin-left: 1rem;
  }
}

@media (pointer: fine) {
  .Freitag-list {
    --spacingTop: 0.5rem;
    --spacingLeft: 2.5rem;
  }

  .Freitag-list--variations {
    margin-left: 1.5rem;
  }

  .Freitag-listItem:not(.Freitag-listItem--lvl0):not(:last-child) {
    padding-bottom: 0.5rem;
  }

  .Freitag-toggle {
    --right: 0rem; /* stylelint-disable-line */
  }
}
