.Headman-projectLogo + .Headman-projectName {
  display: none;
}

.Headman-menu {
  font-size: 1.4rem;
  margin-top: 2rem;
}

[aria-expanded="true"] ~ .Headman-listContainer {
  display: block;
}

[aria-expanded="false"] ~ .Headman-listContainer {
  display: none;
}

.Headman-listItem {
  position: relative;
}

.Headman-listItem--directory.Headman-listItem--lvl0 {
  padding-bottom: 2rem;
}

.Headman-list--variations,
.Headman-list--components:not(.Headman-list--lvl0) {
  padding-top: var(--spacingTop);
}

.Headman-list--variations + .Headman-list--components {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.Headman-link,
.Headman-component {
  display: block;
  padding: 0 var(--Headman-linkSpacing);
}

.Headman-component--lvl0 {
  font-weight: 500;
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.Headman-component:not(.Headman-link) {
  color: var(--Headman-color-link);
  opacity: 0.75;
}

.Headman-link {
  color: var(--Headman-color-link);
  text-decoration: none;
}

.Headman-link:hover,
.Headman-link:focus {
  text-decoration: underline;
}

.Headman-link--showAll {
  font-weight: bold;
}

.Headman-link--variation {
  font-weight: 500;
}

.Headman-link:not(.Headman-link--showAll)[aria-current] {
  background: var(--Headman-color-link);
  border-radius: var(--Headman-borderRadius);
  color: var(--Headman-color-linkActive);
  display: inline-block;
}

.Headman-component.Headman-link {
  font-weight: bold;
}

.Headman-toggle {
  display: block;
  font-size: 1.5em;
  height: 1em;
  position: absolute;
  right: calc(100% - var(--right));
  text-indent: -9999em;
  top: 0;
  width: 1em;
}

.Headman-toggle::after {
  border: var(--Headman-toggle-border);
  border-width: var(--Headman-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Headman-toggle-fontSize);
  height: var(--Headman-toggle-height);
  left: 50%;
  position: absolute;
  top: 50%;
  transition: var(--Headman-toggle-transition);
  width: var(--Headman-toggle-width);
}

.Headman-toggle[aria-expanded="false"]::after {
  transform: var(--Headman-toggle-transition-closed);
}

.Headman-toggle[aria-expanded="true"]::after {
  transform: var(--Headman-toggle-transition-opened);
}

@media (pointer: coarse) {
  .Headman-list {
    --spacingTop: 1.25rem;
    --spacingLeft: 1.5rem;
  }

  .Headman-listContainer {
    margin-left: 2rem;
  }

  .Headman-listItem:not(.Headman-listItem--lvl0):not(:last-child) {
    padding-bottom: 1rem;
  }

  .Headman-toggle {
    --right: -0.75rem;
  }

  .Headman-toggle--lvl0 {
    --right: 0.25em !important;
  }

  .Headman-component--lvl0 {
    margin-left: 1rem;
  }
}

@media (pointer: fine) {
  .Headman-list {
    --spacingTop: 0.5rem;
    --spacingLeft: 1rem;
  }

  .Headman-listContainer {
    margin-left: 1.5rem;
  }

  .Headman-listItem:not(.Headman-listItem--lvl0):not(:last-child) {
    padding-bottom: 0.5rem;
  }

  .Headman-toggle {
    --right: 0rem; /* stylelint-disable-line */
  }
}
