.FreitagResults + .FreitagResults {
  margin-top: var(--results-spacing);
}

.FreitagResults-summary {
  cursor: default;
  list-style-type: none;
  padding: 0 0 0 1.5rem;
  position: relative;
  white-space: nowrap;
}

.FreitagResults-summary::after {
  border: var(--Freitag-toggle-border);
  border-width: var(--Freitag-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--Freitag-toggle-fontSize);
  height: var(--Freitag-toggle-height);
  left: 0.25rem;
  position: absolute;
  top: 50%;
  transition: var(--Freitag-toggle-transition);
  width: var(--Freitag-toggle-width);
}

.FreitagResults-summary::-webkit-details-marker {
  display: none;
}

.FreitagResults:not([open]) .FreitagResults-summary::after {
  transform: var(--Freitag-toggle-transition-closed);
}

.FreitagResults[open] .FreitagResults-summary::after {
  transform: var(--Freitag-toggle-transition-opened);
}

.FreitagResults-value:not(:last-child) {
  padding-right: 1rem;
}

.FreitagResults-value.has-positiveValue {
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  line-height: 1.2;
  min-width: 1.2em;
  padding: 0 0.5rem;
  text-align: center;
}

.FreitagResults-value--positive {
  color: var(--Freitag-color-positive);
}

.FreitagResults-value--positive.has-positiveValue {
  background: var(--Freitag-color-positive);
}

.FreitagResults-value--neutral {
  color: var(--Freitag-color-lightGray);
}

.FreitagResults-value--neutral.has-positiveValue {
  background: var(--Freitag-color-lightGray);
}

.FreitagResults-value--negative {
  color: var(--Freitag-color-negative);
}

.FreitagResults-value--negative.has-positiveValue {
  background: var(--Freitag-color-negative);
}

.FreitagResults-value--warning {
  color: var(--Freitag-color-warning);
}

.FreitagResults-value--warning.has-positiveValue {
  background: var(--Freitag-color-warning);
}

.FreitagResults-details {
  margin: 1rem 0 1rem 2.2rem;
}

.FreitagResults-empty {
  font-style: italic;
}

@media (pointer: coarse) {
  .FreitagResults + .FreitagResults {
    --results-spacing: 0.75rem;
  }
}

@media (pointer: fine) {
  .FreitagResults + .FreitagResults {
    --results-spacing: 0.5rem;
  }
}
