.HeadmanResult:not(:first-child) {
  margin-top: 1.5rem;
}

.HeadmanResult-data {
  border-left: 0.2rem solid #ccc;
  padding: 0 0 0 1rem;
}

.HeadmanResult-attr,
.HeadmanResult-value {
  display: inline;
}

.HeadmanResult-attr {
  font-weight: bold;
}

.HeadmanResult-attr::after {
  content: ":";
  display: inline;
}

.HeadmanResult a {
  color: currentColor;
  padding: 0 0.35rem 0 2rem;
  position: relative;
  word-break: break-all;
}

.HeadmanResult a::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' focusable='false' aria-hidden='true'%3E%3Cpath d='M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6M15 3h6v6M10 14L21 3'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 1em;
  left: 0;
  margin: 0 0 0 0.25rem;
  position: absolute;
  top: 0.2rem;
  width: 1em;
}

.HeadmanResult a:hover,
.HeadmanResult a:focus,
.HeadmanResult a:active {
  background: var(--Headman-color-link);
  border-radius: var(--Headman-borderRadius);
  box-shadow: 0 0.2rem 0 var(--Headman-color-link);
  color: var(--Headman-color-linkActive);
  text-decoration: none;
}

.HeadmanResult a:hover::before,
.HeadmanResult a:focus::before,
.HeadmanResult a:active::before {
  filter: invert(1);
}

.HeadmanResult-extract {
  font-family: monospace;
}
