.HeadmanTest {
  font-size: 1.4rem;
  padding: var(--Headman-spacing) var(--Headman-spacing) 0;
}

.HeadmanTest:last-child {
  padding-bottom: var(--Headman-spacing);
}

.HeadmanTest-title {
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
