.ComponentLibraryTest {
  font-size: 1.4rem;
  padding: var(--ComponentLibrary-spacing) var(--ComponentLibrary-spacing) 0;
}

.ComponentLibraryTest:last-child {
  padding-bottom: var(--ComponentLibrary-spacing);
}

.ComponentLibraryTest-title {
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
