.RoundupTest {
  font-size: 1.4rem;
  padding: var(--Roundup-spacing) var(--Roundup-spacing) 0;
}

.RoundupTest:last-child {
  padding-bottom: var(--Roundup-spacing);
}

.RoundupTest-title {
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
