.ComponentLibraryComponentTestContainer {
  font-size: 1.4rem;
  padding: var(--ComponentLibrary-spacing) var(--ComponentLibrary-spacing) 0;
}

.ComponentLibraryComponentTestContainer:last-child {
  padding-bottom: var(--ComponentLibrary-spacing);
}

.ComponentLibraryComponentTestContainer-title {
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}

.ComponentLibraryComponentTest-extraxt {
  font-family: monospace;
}

.ComponentLibraryComponentTest-summary {
  cursor: default;
  list-style-type: none;
  padding: 0 0 0 1.5rem;
  position: relative;
  white-space: nowrap;
}

.ComponentLibraryComponentTest-summary::after {
  border: var(--ComponentLibrary-toggle-border);
  border-width: var(--ComponentLibrary-toggle-borderWidth);
  content: "";
  display: block;
  font-size: var(--ComponentLibrary-toggle-fontSize);
  height: var(--ComponentLibrary-toggle-height);
  left: 0.25rem;
  position: absolute;
  top: 50%;
  transition: var(--ComponentLibrary-toggle-transition);
  width: var(--ComponentLibrary-toggle-width);
}

.ComponentLibraryComponentTest:not([open])
  .ComponentLibraryComponentTest-summary::after {
  transform: var(--ComponentLibrary-toggle-transition-closed);
}

.ComponentLibraryComponentTest[open]
  .ComponentLibraryComponentTest-summary::after {
  transform: var(--ComponentLibrary-toggle-transition-opened);
}

.ComponentLibraryComponentTest-summary::-webkit-details-marker {
  display: none;
}

.ComponentLibraryComponentTest-details {
  margin: 1rem 0 1rem 2.2rem;
}

.ComponentLibraryComponentTest-entry:not(:first-child) {
  margin-top: 1.5rem;
}

.ComponentLibraryComponentTest-entry dt {
  float: left;
  font-weight: bold;
  margin: 0 0.5em 0 0;
}

.ComponentLibraryComponentTest-entry dt::after {
  content: ":";
  display: inline;
}

.ComponentLibraryComponentTest-entry a {
  color: var(--ComponentLibrary-color-link);
}

.ComponentLibraryComponentTest-noResults {
  font-style: italic;
}

.ComponentLibraryComponentTest-result:not(:last-child) {
  padding-right: 1rem;
}

.ComponentLibraryComponentTest-result.has-positiveValue {
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  line-height: 1.2;
  min-width: 1.2em;
  padding: 0 0.5rem;
  text-align: center;
}

.ComponentLibraryComponentTest-result.has-positiveValue.is-positive {
  background: var(--ComponentLibrary-color-positive);
}

.is-positive {
  color: var(--ComponentLibrary-color-positive);
}

.ComponentLibraryComponentTest-result.has-positiveValue.is-neutral {
  background: var(--ComponentLibrary-color-lightGray);
}

.is-neutral {
  color: var(--ComponentLibrary-color-lightGray);
}

.ComponentLibraryComponentTest-result.has-positiveValue.is-negative {
  background: var(--ComponentLibrary-color-negative);
}

.is-negative {
  color: var(--ComponentLibrary-color-negative);
}

.ComponentLibraryComponentTest-result.has-positiveValue.is-warning {
  background: var(--ComponentLibrary-color-warning);
}

.is-warning {
  color: var(--ComponentLibrary-color-warning);
}

.ComponentLibraryComponentTest-data {
  border-left: 0.2rem solid #ccc;
  padding: 0 0 0 1rem;
}
