@import "./_prism.css";

:root {
  --Headman-fontFamily: -apple-system, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Helvetica", "Arial", sans-serif;
  --Headman-color: #222;
  --Headman-color-negative: #d9173e;
  --Headman-color-warning: purple;
  --Headman-color-positive: green;
  --Headman-colorHeadlines: var(--Headman-color);
  --Headman-transition: all 0.15s ease;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.HeadmanWrapper {
  box-sizing: border-box;
  padding: var(--spacing);
  width: 100%;
}

.HeadmanDocumentation,
.HeadmanInformation {
  line-height: 1.5;
}

.HeadmanDocumentation h1 {
  color: var(--Headman-colorHeadlines);
  font-size: 2.4em;
  font-weight: bold;
  line-height: 1;
}

.HeadmanDocumentation > * + * {
  margin-top: 1.5em;
}

.HeadmanSchemaTable,
.HeadmanInformation,
.HeadmanDocumentation,
.Headman-sectionTitle {
  color: var(--Headman-color);
  font-family: var(--Headman-fontFamily);
}

.HeadmanInformation-val {
  margin-left: 0;
}

.HeadmanDocumentation > *:first-child {
  margin-top: 0;
}

.Headman-sectionTitle {
  align-items: center;
  color: var(--Headman-colorHeadlines);
  display: flex;
  font-size: 1.6em;
  margin: 2em 0 1em;
}

.Headman-sectionTitle::after {
  background: #ddd;
  content: "";
  flex: 1;
  height: 1px;
  margin-left: 20px;
}

.HeadmanInformation-wrapper + .HeadmanInformation-wrapper {
  margin-top: 30px;
}

.HeadmanInformation-attr {
  color: #767676;
  font-family: var(--Headman-fontFamily);
  font-size: 0.875em;
  letter-spacing: 0.0375em;
  text-decoration: none;
  text-transform: uppercase;
}

.HeadmanInformation-attr:not(:first-child) {
  margin-top: 1em;
}

.HeadmanInformation code,
.HeadmanDocumentation code,
.Headman-code {
  font-family: "Menlo", "Monaco", monospace;
  font-size: .9em;
}

.HeadmanStatus::before {
  --size: 0.7em;

  border-radius: 50%;
  content: "";
  display: inline-block;
  height: var(--size);
  margin: 0 0.25em 0 0;
  width: var(--size);
}

.HeadmanStatus--done::before,
.HeadmanStatus--valid::before {
  background-color: var(--Headman-color-positive);
}

.HeadmanStatus--wip::before {
  background-color: var(--Headman-color-warning);
}

.HeadmanStatus--needs_work::before,
.HeadmanStatus--invalid::before {
  background-color: var(--Headman-color-negative);
}

.HeadmanComponent-head {
  display: flex;
  justify-content: space-between;
}

.HeadmanComponent-file {
  align-items: center;
  color: #767676;
  display: flex;
  font-family: var(--Headman-fontFamily);
  font-size: 0.875em;
  letter-spacing: 0.0375em;
  text-decoration: none;
  text-transform: uppercase;
}

.HeadmanComponent-file:hover,
.HeadmanComponent-file:focus,
.HeadmanComponent-file:active {
  text-decoration: underline;
}

.HeadmanComponent-fileFolders {
  color: #bbb;
}

.HeadmanComponent-html {
  margin: calc(var(--spacing) / 2) 0 calc(2 * var(--spacing));
}

.HeadmanError {
  color: var(--Headman-color-negative);
}

.HeadmanComponentView {
  box-sizing: border-box;
  padding: var(--spacing);
  width: 100%;
}

.HeadmanIframe-newTabLink {
  align-items: center;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  color: var(--Headman-color);
  display: flex;
  font-size: 40px;
  height: 1em;
  justify-content: center;
  position: fixed;
  right: 20px;
  text-indent: -9999em;
  top: 20px;
  transition: var(--Headman-transition);
  width: 1em;
}

.HeadmanIframe-newTabLink:hover {
  border-color: #767676;
}

.HeadmanIframe-newTabLink svg {
  --size: 50%;

  display: block;
  height: var(--size);
  width: var(--size);
}

.Headman-code {
  border: .1rem solid #ddd;
  padding: calc(var(--spacing) / 2);
}

.Headman-code[class*="language-"] {
  background: #f8f8f8;
}


@media (max-width: 32em) {
  .HeadmanIframe {
    --spacing: 15px;
  }
}

@media (min-width: 32.03125em) {
  .HeadmanIframe {
    --spacing: 30px;
  }
}

@media screen and (prefers-reduced-motion) {
  *,
  *::after,
  *::before {
    animation: none !important;
    transition: none !important;
  }
}
