:root {
  --Roundup-color-bg: #f5f5f5;
  --Roundup-color-link: #0a374e;
  --Roundup-transition: all 0.15s ease;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.RoundupComponents {
  padding: var(--spacing) 0;
}

.RoundupComponent {
  margin: 0 var(--spacing);
}

.RoundupComponent-file {
  align-items: center;
  color: #767676;
  display: flex;
  font-size: 14px;
  text-decoration: none;
}

.RoundupComponent-file:hover,
.RoundupComponent-file:focus,
.RoundupComponent-file:active {
  color: var(--Roundup-color-link);
  text-decoration: underline;
}

.RoundupComponent-file::before,
.RoundupComponent-file::after {
  background: #ddd;
  content: "";
  flex: 1;
  height: 1px;
}

.RoundupComponent-file::before {
  margin-right: 20px;
}

.RoundupComponent-file::after {
  margin-left: 20px;
}

.RoundupComponent-html {
  padding: var(--spacing) 0;
}

.RoundupError {
  color: #d9173e;
}

.RoundupComponentView {
  padding: var(--spacing);
}

.RoundupIframe-newTabLink {
  background: var(--Roundup-color-bg);
  border: 3px solid rgba(0, 0, 0, 0.025);
  border-radius: 50%;
  display: block;
  font-size: 40px;
  height: 1em;
  position: fixed;
  right: 20px;
  text-indent: -9999em;
  top: 20px;
  transition: var(--Roundup-transition);
  width: 1em;
}

.RoundupIframe-newTabLink:hover {
  background-color: var(--Roundup-color-link);
}

.RoundupIframe-newTabLink::after {
  background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyODQgMjg0Ij48cGF0aCBkPSJNMjY2IDBoLTk3YTE4IDE4IDAgMCAwIDAgMzVoNTVsLTkyIDkyYTE3IDE3IDAgMCAwIDAgMjUgMTcgMTcgMCAwIDAgMjUgMGw5Mi05MnY1NWExOCAxOCAwIDAgMCAzNSAwVjE4YzAtMTAtOC0xOC0xOC0xOHoiLz48cGF0aCBkPSJNMjAxIDI1NEgzMFY4M2gxMjlsMzAtMzBIMTVDNyA1MyAwIDYwIDAgNjh2MjAxYzAgOCA3IDE1IDE1IDE1aDIwMWM4IDAgMTUtNyAxNS0xNVY5NWwtMzAgMzB2MTI5eiIvPjwvc3ZnPg==)
    no-repeat center;
  background-size: 50%;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.RoundupIframe-newTabLink:hover::after {
  filter: invert(1);
}

@media (max-width: 32em) {
  .RoundupIframe {
    --spacing: 15px;
  }
}

@media (min-width: 32.03125em) {
  .RoundupIframe {
    --spacing: 30px;
  }
}

@media screen and (prefers-reduced-motion) {
  *,
  *::after,
  *::before {
    animation: none !important;
    transition: none !important;
  }
}
