@import "./_reset.css";
@import "./_nav.css";
@import "./_test.css";
@import "./_results.css";
@import "./_result.css";

:root {
  --Freitag-fontSize: 1.6rem;
  --Freitag-lineHeight: 1.5;
  --Freitag-color-bg: #f5f5f5;
  --Freitag-color-lightGray: #707070;
  --Freitag-color-link: #0a374e;
  --Freitag-color-negative: #d9173e;
  --Freitag-color-warning: purple;
  --Freitag-color-positive: green;
  --Freitag-borderRadius: 0.25rem;
  --Freitag-linkSpacing: 0.35rem;
  --Freitag-toggle-border: 0 solid #000;
  --Freitag-toggle-borderWidth: 0.3em 0.3em 0 0;
  --Freitag-toggle-fontSize: 0.75rem;
  --Freitag-toggle-height: 1em;
  --Freitag-toggle-transition: transform 0.15s ease;
  --Freitag-toggle-width: 1em;
  --Freitag-toggle-transition-closed: translate(-50%, -50%) rotate(45deg);
  --Freitag-toggle-transition-opened: translate(-25%, -75%) rotate(135deg);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

.Freitag {
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: var(--Freitag-fontSize);
  line-height: var(--Freitag-lineHeight);
  min-height: 100%;
}

.Freitag-nav {
  background: var(--Freitag-color-bg);
  grid-area: nav;
  overflow-y: auto;
  padding: var(--Freitag-spacing)
    calc(var(--Freitag-spacing) - var(--Freitag-linkSpacing));
}

.Freitag-content {
  display: flex;
  flex-grow: 1;
  grid-area: iframe;
}

.Freitag-frame {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  display: block;
  flex: 1;
  position: relative;
}

.Freitag-tests {
  background: var(--Freitag-color-bg);
  grid-area: tests;
}

@media (max-width: 32em) {
  :root {
    --Freitag-spacing: 1.5rem;
  }

  .Freitag {
    grid-template:
      "nav"
      "iframe" 1fr
      "tests";
  }

  .Freitag-nav {
    position: relative;
  }

  .Freitag-toggleMobileMenu {
    --size: calc(
      var(--Freitag-fontSize) * var(--Freitag-lineHeight) +
        calc(2 * var(--Freitag-spacing))
    );

    display: block;
    height: var(--size);
    position: absolute;
    right: 0;
    top: 0;
    width: var(--size);
  }

  .Freitag-toggleMobileMenu::after {
    border: var(--Freitag-toggle-border);
    border-width: var(--Freitag-toggle-borderWidth);
    content: "";
    display: block;
    font-size: 0.75em;
    height: var(--Freitag-toggle-height);
    left: 50%;
    position: absolute;
    top: 50%;
    transition: var(--Freitag-toggle-transition);
    width: var(--Freitag-toggle-width);
  }

  .Freitag-toggleMobileMenu[aria-expanded="false"]::after {
    transform: var(--Freitag-toggle-transition-closed);
  }

  .Freitag-toggleMobileMenu[aria-expanded="true"]::after {
    transform: var(--Freitag-toggle-transition-opened);
  }

  .Freitag-toggleMobileMenu[aria-expanded="false"] + .Freitag-menu {
    display: none;
  }
}

@media (min-width: 32.03125em) {
  :root {
    --Freitag-spacing: 2.5rem;
  }

  .Freitag-nav {
    height: 100vh;
  }

  .Freitag-toggleMobileMenu {
    display: none;
  }

  .Freitag-tests {
    max-height: var(--maxHeight);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
}

@media (min-width: 32.03125em) and (max-width: 64em) {
  .Freitag {
    grid-template-areas:
      "nav iframe"
      "nav tests";
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr auto;
  }

  .Freitag-nav {
    max-width: 40vw;
  }

  .Freitag-tests {
    --maxHeight: 50vh;
  }
}

@media (min-width: 64.03125em) {
  .Freitag {
    grid-template-areas: "nav iframe tests";
    grid-template-columns: auto 1fr auto;
  }

  .Freitag-nav {
    max-width: 20vw;
  }

  .Freitag-tests {
    --maxHeight: 100vh;

    max-width: 40vw;
  }
}

@media screen and (prefers-reduced-motion) {
  *,
  *::after,
  *::before {
    animation: none !important;
    transition: none !important;
  }
}
