@import "./_reset.css";
@import "./_nav.css";
@import "./_tests.css";

:root {
  --ComponentLibrary-color-bg: #f5f5f5;
  --ComponentLibrary-color-lightGray: #707070;
  --ComponentLibrary-color-link: #0a374e;
  --ComponentLibrary-color-negative: #d9173e;
  --ComponentLibrary-color-warning: purple;
  --ComponentLibrary-color-positive: green;

  --ComponentLibrary-spacing: 2rem;

  --ComponentLibrary-toggle-border: 0 solid #000;
  --ComponentLibrary-toggle-borderWidth: 0.2rem 0.2rem 0 0;
  --ComponentLibrary-toggle-fontSize: 0.75rem;
  --ComponentLibrary-toggle-height: 1em;
  --ComponentLibrary-toggle-transition: transform 0.15s ease;
  --ComponentLibrary-toggle-width: 1em;
  --ComponentLibrary-toggle-transition-closed: translate(-50%, -50%)
    rotate(45deg);
  --ComponentLibrary-toggle-transition-opened: translate(-50%, -50%)
    rotate(135deg);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

.ComponentLibrary {
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100%;
}

.ComponentLibrary-nav {
  background: var(--ComponentLibrary-color-bg);
  grid-area: nav;
  height: 100vh;
  overflow-y: auto;
  padding: var(--ComponentLibrary-spacing);
}

.ComponentLibrary-content {
  display: flex;
  flex-grow: 1;
  grid-area: iframe;
}

.ComponentLibrary-frame {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  display: block;
  flex: 1;
  position: relative;
}

.ComponentLibrary-tests {
  background: var(--ComponentLibrary-color-bg);
  grid-area: tests;
  max-height: var(--maxHeight);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

@media (max-width: 64em) {
  .ComponentLibrary {
    grid-template-areas:
      "nav iframe"
      "nav tests";
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr auto;
  }

  .ComponentLibrary-nav {
    max-width: 40vw;
  }

  .ComponentLibrary-tests {
    --maxHeight: 50vh;
  }
}

@media (min-width: 64.03125em) {
  .ComponentLibrary {
    grid-template-areas: "nav iframe tests";
    grid-template-columns: auto 1fr auto;
  }

  .ComponentLibrary-nav {
    max-width: 20vw;
  }

  .ComponentLibrary-tests {
    --maxHeight: 100vh;

    max-width: 40vw;
  }
}
