<style>
  custom-square {
    margin: 20px;
  }
</style>

<div>
  <button class="add">Add custom-square to DOM</button>
  <button class="update">Update attributes</button>
  <button class="remove">Remove custom-square from DOM</button>
</div>
