.Nav {
  background: #f5f5f5;
  height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
}

.Nav-menu {
  margin-top: 2rem;
}

.Nav-showAll,
.Nav-link,
.Nav-component {
  display: block;
  padding: 0 0.35rem;
}

.Nav-showAll,
.Nav-link {
  text-decoration: none;
}

.Nav-showAll {
  font-weight: bold;
}

.Nav [aria-current] {
  background: #0a374e;
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
}

.Nav-list {
  font-size: 1.4rem;
}

.Nav-list > .Nav-item > .Nav-list:not(:first-child) {
  margin-left: 1rem;
  padding-top: 0.5rem;
}

.Nav-item:not(:last-child) {
  padding-bottom: 0.5rem;
}

.Nav-list:first-child > .Nav-item:not(:first-child) {
  padding-top: 1rem;
}

.Nav-link--variation {
  color: #333;
}

.Nav-link:hover,
.Nav-link:focus {
  text-decoration: underline;
}

.Nav-component {
  font-weight: 500;
}

.Nav-list .Nav-list .Nav-component.is-disabled {
  color: #707070;
  font-style: italic;
}

.Nav-list:first-child > .Nav-item > .Nav-component {
  font-weight: bold;
  padding-bottom: 0.5rem;
}
