.Spacings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Spacings-item:not(:first-child) {
	margin-top: 3em;
}

.Spacings-button {
	color: inherit;
}

.Spacings-button::before {
	height: var(--spacing);
	width: var(--spacing);
	background: currentcolor;
	content: "";
	display: block;
}
