/* PrismJS 1.21.0
 * https://prismjs.com/download.html#themes=prism-dark&languages=markup+json+yaml
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

.Code {
	--color: light-dark(black, white);
	--text-shadow: light-dark(white, black);
	--background: light-dark(#f5f2f0, hsl(30deg 20% 25%));
	--color-comment: light-dark(hsl(30deg 0% 40%), hsl(30deg 0% 60%));
	--color-property: light-dark(#d9173e, hsl(348deg 100% 68%));
	--color-selector: light-dark(hsl(80deg 100% 24%), #8dd203);
	--color-operator: light-dark(#7a4613, hsl(30deg 73% 50%));
	--color-atrule: light-dark(#07a, hsl(350deg 40% 70%));
	--color-function: #dd4a68;
	--color-regex: #e90;
	--color-deleted: red;
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--color);
	background: none;
	text-shadow: 0 -0.1em 0.2em var(--text-shadow);
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	text-align: start;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: var(--background);
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.5em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--color-comment);
}

.token.punctuation {
	opacity: 0.7;
}

.token.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: var(--color-property);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--color-selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: var(--color-operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--color-atrule);
}

.token.function,
.token.class-name {
	color: var(--color-function);
}

.token.regex,
.token.important,
.token.variable {
	color: var(--color-regex);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: var(--color-deleted);
}
