:root > * {
  --md-default-fg-color: #062b3e;
  --md-default-fg-color-dark: #00202f;
  --md-accent-fg-color: #d23e76;
  --md-primary-fg-color: var(--md-default-fg-color);
  --md-footer-bg-color: var(--md-default-fg-color);
}

h1,
h2,
h3,
h4 {
  color: var(--md-default-fg-color) !important;
  font-weight: 800 !important;
}

.md-header {
  background: var(--md-default-fg-color);
  color: #fff;
}

.md-header[data-md-state="shadow"] {
  box-shadow: none;
  outline: 1px solid #ddd;
}

.md-header__button.md-logo img,
.md-nav__title .md-nav__button.md-logo img {
  height: 1.2rem;
  width: auto;
}

.md-nav__source {
  background-color: var(--md-default-fg-color-dark);
}

.md-typeset h1 {
  font-size: 1.8rem;
}

.md-typeset h2 {
  font-size: 1.4rem;
}

.md-typeset h3 {
  font-size: 1.2rem;
}

.md-typeset a {
  text-decoration: underline;
}

.md-nav__item .md-nav__link--active {
  text-decoration: underline;
}

.md-footer-copyright {
  color: inherit;
}
