html {
  --Miyagi-fontFamily: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;

  /* general */
  --Miyagi-color: var(--Miyagi-color-Grey-1);
  --Miyagi-color-Text-internal: var(--Miyagi-color-Grey-1);
  --Miyagi-color-TextSecondary: var(--Miyagi-color-Grey-2);
  --Miyagi-color-TextTertiary: var(--Miyagi-color-Grey-3);
  --Miyagi-color-Link: var(--Miyagi-color-Grey-1);
  --Miyagi-colorHeadline1-internal: var(--Miyagi-color-Grey-1);
  --Miyagi-colorHeadline2-internal: var(--Miyagi-color-Grey-1);
  --Miyagi-color-Outline: var(--Miyagi-color-Grey-4);
  --Miyagi-toggle-border: 0 solid var(--Miyagi-color-Link);
  --Miyagi-toggle-borderWidth: 0.25em 0.25em 0 0;
  --Miyagi-toggle-fontSize: 0.6rem;
  --Miyagi-toggle-height: 1em;
  --Miyagi-toggle-transition: transform 0.15s ease;
  --Miyagi-toggle-width: 1em;

  /* specific */
  --Miyagi-color-NewTabLink: var(--Miyagi-color-Link);
  --Miyagi-color-Headline2-divider: var(--Miyagi-color-Outline);
  --Miyagi-color-Code-background: var(--Miyagi-color-Grey-5);
  --Miyagi-color-Code-outline: var(--Miyagi-color-Outline);
  --Miyagi-color-Iframe-outline: var(--Miyagi-color-Outline);
  --Miyagi-transition: all 0.15s ease;
  --Miyagi-spacing: 40px;

  /* light */
  --Miyagi-color-Grey-1: hsl(0, 0%, 12%);
  --Miyagi-color-Grey-2: hsl(0, 0%, 36%);
  --Miyagi-color-Grey-3: hsl(0, 0%, 56%);
  --Miyagi-color-Grey-4: hsl(0, 0%, 86%);
  --Miyagi-color-Grey-5: hsl(0, 0%, 96%);
  --Miyagi-color-Negative: #d9173e;
  --Miyagi-color-Positive: #690;
  --Miyagi-color-OverlayBackground: rgba(255, 255, 255, 0.95);
  --Miyagi-color-bg-Tooltip: #f5f5f5;
  --Miyagi-color-outline-Tooltip: #ddd;
}

html[dir="ltr"] {
  --Miyagi-toggle-transition-closed: translate(-50%, -50%) rotate(45deg);
  --Miyagi-toggle-transition-opened: translate(-25%, -75%) rotate(135deg);
}

html[dir="rtl"] {
  --Miyagi-toggle-transition-closed: translate(-50%, -50%) rotate(-135deg);
  --Miyagi-toggle-transition-opened: translate(-25%, -75%) rotate(-225deg);
}

@media (prefers-color-scheme: dark) {
  html {
    --Miyagi-color-Grey-1: hsl(0, 0%, 100%);
    --Miyagi-color-Grey-2: hsl(0, 0%, 80%);
    --Miyagi-color-Grey-3: hsl(0, 0%, 60%);
    --Miyagi-color-Grey-4: hsl(0, 0%, 26%);
    --Miyagi-color-Grey-5: hsl(0, 0%, 16%);
    --Miyagi-color-Negative: #ff305a;
    --Miyagi-color-Warning: #b578b5;
    --Miyagi-color-Positive: #8dd203;
    --Miyagi-color-OverlayBackground: hsla(0, 0%, 12%, 0.95);
    --Miyagi-color-bg-Tooltip: #333;
    --Miyagi-color-outline-Tooltip: #444;
  }
}

.MiyagiTheme--light {
  --Miyagi-color-Grey-1: hsl(0, 0%, 12%);
  --Miyagi-color-Grey-2: hsl(0, 0%, 36%);
  --Miyagi-color-Grey-3: hsl(0, 0%, 56%);
  --Miyagi-color-Grey-4: hsl(0, 0%, 86%);
  --Miyagi-color-Grey-5: hsl(0, 0%, 96%);
  --Miyagi-color-Negative: #d9173e;
  --Miyagi-color-Positive: #690;
  --Miyagi-color-OverlayBackground: rgba(255, 255, 255, 0.95);
  --Miyagi-color-bg-Tooltip: #f5f5f5;
  --Miyagi-color-outline-Tooltip: #ddd;
}

.MiyagiTheme--dark {
  --Miyagi-color-Grey-1: hsl(0, 0%, 100%);
  --Miyagi-color-Grey-2: hsl(0, 0%, 80%);
  --Miyagi-color-Grey-3: hsl(0, 0%, 60%);
  --Miyagi-color-Grey-4: hsl(0, 0%, 26%);
  --Miyagi-color-Grey-5: hsl(0, 0%, 16%);
  --Miyagi-color-Negative: #ff305a;
  --Miyagi-color-Warning: #b578b5;
  --Miyagi-color-Positive: #8dd203;
  --Miyagi-color-OverlayBackground: hsla(0, 0%, 12%, 0.95);
  --Miyagi-color-bg-Tooltip: #333;
  --Miyagi-color-outline-Tooltip: #444;
}
