<div class="LinkList">
  <h{{headlineType}} class="LinkList-title">{{title}}</h{{headlineType}}>
  <ul class="LinkList-list">
    {{#each links}}
      <li class="LinkList-item">
        {{{this}}}
      </li>
    {{/each}}
  </ul>
</div>
